.single-magazine
  .header
    h2
      font-size: 3em

    p
      font-size: 1.9em
      line-height: 2
    .negative-margin
      margin-left: -28px
      margin-right: -24px

    .no-margin-p
      p
        margin-bottom: 0
        line-height: 1.7

    img
      object-fit: cover

  .other-editions
    .bg-black
      &.text-white
        &.dotted-top
          p
            margin-bottom: 0

@media (max-width: 500px)
  .single-magazine
    .header
      .negative-margin
        margin-left: -24px
        margin-right: -24px

        .normal
          font-size: 20px

      h2
        font-size: 2em

      p
        font-size: 1.3em
        line-height: 1.5

