.content-holder
  .solo-imgholder
    overflow: hidden

    img
      transform: scale(1)
      transition: 1.2s

      &:hover
        transform: scale(1.1)
        transition: 1.2s

  .table-holder
    table
      width: 100%

      // todo: fix color
      tr
        &:nth-child(even)
          background-color: #86dc86

        td
          padding-left: 10px
          
article
  .article
    .col-md-8
      iframe
        @media (max-width 576px)
          max-width: 100%

      p
        width: 80%
        text-align: center
        margin-top: 1.5rem
        margin-bottom: 1.5rem

        &:not(.wp-block-newheap-blocks-one-col-image)
          &:not(.wp-block-newheap-blocks-article-highlight)
            font-family: "Times New Roman", Times, serif
            font-size: 1.1em

      .wp-block-newheap-blocks-one-col-image
        &.image-holder
          border-bottom: 1px solid gray
          padding-bottom: 1.5rem

          .image-holder
            border-right: 0

  .wp-block-newheap-blocks-article-highlight
    &.article-highlight
      .col-md-9
        padding: 3rem!important

.video-container
  iframe
    max-width: 100%
    max-height: 400px

    @media (max-width: 992px)
      max-height: 250px