.header
  .header-content
    h1
      font-size: 60px

    .tax-holder
      h4
        font-size: 2rem


.author
  @media (max-width: 768px)
    .mobile-up
      padding-top: 0
      padding: 0

      .author-image-holder
        .author-image
          min-height: 250px

  @media (max-width: 576px)
    .mobile-up
      padding-top: 0
      padding: 0

      .author-image-holder
        .author-image
          min-height: 250px


.author-posts
  .author-img
    object-fit: cover

  .content-type
    top: 20px
    left: 12px

  h2
    &.bold
      font-size: 2.3rem

  .bold
    span
      font-size: 20px

@media (max-width: 992px)
  .header
    .header-content
      h1
        font-size: 50px

@media (max-width: 500px)
  .header
    .header-content
      h1
        font-size: 50px

      .article-options
        font-size: 17px
        padding-left: 0
        padding-right: 0

@media (max-width: 400px)
  .header
    .header-content
      h1
        font-size: 40px
        word-break: break-word

      &.text-white
        &.bg-black
          &.remove-top-space
            &.p-5
              &.pt-1
                &.pb-3
                    padding-left: 1rem!important
                    padding-right: 1rem!important