$primary-color: #50b848
$primary-color-rgb: 80, 184, 72

html
  margin-top: 0!important

.hide-items
  display: none

hr
  border-top: 1px solid black

.loadmore
  &:hover
    cursor: pointer

a
  text-decoration: none
  color: $primary-color

  &:hover
    text-decoration: none
    color: $primary-color

.mobile-up
  transition: all 1.2s

  &:hover
    background-size: 110%!important
    transition: all 1.2s
    cursor: pointer

.image-media
  background-size: cover
  transition: 1.2s
  &:hover
    background-size: 110%!important
    transition: 1.2s

.pr-fix
  padding-right: 8px

.pl-fix
  padding-left: 8px

.primary-color
  color: $primary-color

.primary-background
  background-color: $primary-color

.uppercase
  text-transform: uppercase

.bold
  font-weight: bold

.normal
  font-weight: normal
  font-size: 23px

.arrow-right
  width: 0
  height: 0
  border-top: 8px solid transparent
  border-bottom: 8px solid transparent
  border-left: 12px solid black
  float: right
  margin-top: 3px

.arrow-bottom
  width: 0
  height: 0
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-top: 12px solid black
  margin: 10px auto

.ml-20
  margin-left: 20px

.bg-black
  background-color: black

.bg-black-trans
  background-color: rgba(0, 0, 0, 0.7)

.bg-white
  background-color: white
.bg-white-trans
  background-color: rgba(255, 255, 255, 0.7)

.bg-gray
  background-color: #F2F2F2

.text-gray
  color: gray

.text-white
  color: white!important

.text-black
  color: black!important

.dotted-top
  border-color: white
  border-top-style: dotted
  border-top-width: 4px

.dotted-left
  border-color: white
  border-left-style: dotted
  border-left-width: 4px

.dotted-right
  border-color: white
  border-right-style: dotted
  border-right-width: 4px

.dotted-bottom
  border-color: white
  border-bottom-style: dotted
  border-bottom-width: 4px

.dotted-bottom-black
  border-color: black
  border-bottom-style: dotted
  border-bottom-width: 4px

.dotted-right-black
  border-color: black
  border-right-style: dotted
  border-right-width: 4px

.relative
  position: relative

.absolute
  position: absolute

.col-fluid-fix
  margin-left: -7px

@media (max-width: 768px)
  .px-md-0
    padding-left: 0
    padding-right: 0

@media (min-width: 768px)
  .mr-md-0
    margin-right: -15px


@media (max-width: 576px)
  .col-fluid-fix
    margin-left: 0
  .pr-fix
    padding-right: calc(var(--bs-gutter-x)/ 2)

  .pl-fix
    padding-left: calc(var(--bs-gutter-x)/ 2)
