#filter-page
  ul
    &.post-filters
      list-style: none
      padding-left: 0

  .filter-holder
    button
      background: none
      color: inherit
      border: none
      padding: 0
      font: inherit
      cursor: pointer
      outline: inherit
      &.active
        font-weight: bold
        &:before
          content: '\f057'
          font-family: "Font Awesome 5 Free"
          font-weight: bold

    &:first-of-type
      button
        background: none
        color: inherit
        border: none
        padding: 0
        font: inherit
        cursor: pointer
        outline: inherit
        &.active
          font-weight: bold
          &:before
            content: ''

    &.sort
      border-bottom-style: dotted
      border-bottom-width: 4px
      border-color: black
      margin-bottom: 2em
      padding-bottom: 1em

  .dossiers-holder
    .dossiers-loop
      .dossiers-image-holder
        padding-top: 72%
        background-size: cover
        background-repeat: no-repeat
        background-position: center


.post-holder
  .post-loop
    .dotted-bottom-black
      &:last-of-type
        border-bottom-width: 0
