.header
  span
    &.date-holder
      margin-right: 8px
    &.read-time
      margin-right: 8px
    &.author
      margin-right: 8px
      i
        margin-right: 3px

  .header-image
    min-height: 70vh

  .remove-top-space
    margin-top: -6rem

  .blackbox
    margin-top: 50vh

  .article-options
    display: flex
    flex-direction: row
    flex: 1

    hr
      border-top: 1px solid rgba(255,255,255,0.2)

    .text-start
      display: flex
      flex-direction: column
      flex: 1

      i
        margin-right: 5px

    .text-end
      display: flex
      flex: 1
      justify-content: flex-end

      span
        &:first-of-type
          margin-right: 15px

        i
          margin-right: 5px

@media (max-width: 1400px)
  .header
    .blackbox
      margin-top: 45vh

@media (max-width: 1200px)
  .header
    .blackbox
      margin-top: 40vh
