.kennispartners
    .image-partner
        padding-top: 40%

        .content-type
            top: 20px
            left: 12px

        .content-title
            margin-left: 0
            margin-right: 0

            h5
                font-family: 'Open Sans', sans-serif
                font-weight: 400

body.single-partners
    .header
        .content-type
            margin-left: 0

    article.article,
    .editor-styles-wrapper
        p
            font-family: 'Open Sans', sans-serif !important
            font-weight: 400

    h1
        font-family: 'Open Sans', sans-serif !important
