nav
    font-family: "Times New Roman", sans-serif

    &.bg-light
        background-color: white !important

    &.navbar
        padding: .5rem 0

    .weather
        border-bottom-left-radius: 15px
        border-bottom-right-radius: 15px
        width: 100px
        height: 100%
        border: 3px solid black
        margin-top: -11px
        padding-bottom: 30px
        position: absolute
        height: 137px
        right: 0
        top: 0

        .current-weather
            margin-top: 10px

        i
            font-size: 2em
            margin-top: 0.8em

    &.navbar-light
        .navbar-nav
            .nav-link
                color: black

.logo-row
    background-color: black

    .vertical-middle
        display: flex
        justify-content: flex-end
        align-items: center

    .logo-holder
        font-size: 3em
        color: $primary-color
        max-width: 70%

        img
            margin-top: -20px

.user-items
    display: flex
    justify-content: flex-end
    margin-right: 7em

    @media (max-width: 576px)

    i
        color: white
        font-weight: bold
        margin-right: 10px
        margin-left: 10px
        font-size: 1.5em

.sub-header
    .dropdown
        .btn-primary
            background-color: transparent
            border: 1px solid gray
            color: black
            padding: 0.5rem 4rem 0.5rem 1rem

            &:not(:disabled)
                background-color: white
                border-color: white
                color: black

            &:not(.disabled)
                background-color: white
                border-color: gray
                color: black

            &:active
                background-color: whitesmoke
                border-color: whitesmoke
                color: black

.form-inline
    display: -webkit-box

    .btn
        &.btn-outline-regular
            border: 1px solid gray
            border-top-left-radius: 0
            border-bottom-left-radius: 0

            i
                margin-right: 10px

    .form-control
        width: 75%
        border-top-right-radius: 0
        border-bottom-right-radius: 0

@media (max-width: 992px)
    #navbarNavDropdown
        margin-left: 0

    .navbar-light .menu-item-has-children
        max-height: none !important

    .menu-item-has-children > a
        font-weight: bold


@media (max-width: 768px)
    .mobile-up
        padding-top: 50%

        & > .row
            margin-left: 0
            margin-right: 0

    .dotted-left
        border-left: none

    .dotted-right
        border-right: none

    .navbar-light > .container
        min-height: 50px

    .navbar-light > .container > .navbar-toggler
        margin-top: 15px


@media (max-width: 576px)
    .form-inline
        .btn
            &.btn-outline-regular
                margin-top: 0 !important
                margin-bottom: 0 !important

    .user-items
        margin-right: 0

    .form-inline
        display: -webkit-inline-box

        .form-control
            width: 80%

    .sub-header
        .dropdown
            .dropdown-toggle
                &:after
                    position: absolute
                    right: 15px
                    top: 45%

    .navbar-nav
        padding-top: 15px
        padding-bottom: 15px

    .navbar-toggler
        margin-left: 15px


        ul
            li
                padding-top: 3px
                padding-bottom: 3px

                a
                    padding-left: 0
