.multimedia
  .image-media
    padding-top: 40%
    padding-left: 0
    padding-right: 0

    &.large
      padding-top: 50%

  .column-image-holder
    padding-top: 60%

  .content-type
      top: 20px
      left: 0
