.postloop
  .post-item
    h2
      min-height: 2em
      text-overflow: ellipsis
      overflow: hidden
      -webkit-line-clamp: 2
      display: -webkit-box
      -webkit-box-orient: vertical

  .postloop-image-holder
    padding-top: 60%

  .content-type
    top: 20px
    left: 0

  .bg-black
    display: flex
    flex-direction: column
    flex: 1

  .post-item
    display: flex
    flex: 1
    flex-direction: column

.loop-items
  .content-type
    top: 25px
    left: 12px

@media (max-width: 768px)
  .loop-items
    .content-type
      top: -200px
      left: 0
