.share-content
  .social-share
    ul
      display: flex
      margin-right: 10px
      padding-left: 0
      list-style: none
      font-size: 2em

      li
        i
          color: black
          margin-right: 10px

  .article-tags
    .category-holder
      a
        color: black