.tests
  .image-media
    padding-top: 15%
    padding-left: 0
    padding-right: 0

    &.large
      padding-top: 50%

    .content-type
      top: 20px
      left: 0

    .content-title
      h5
        margin-bottom: 0