.btn
  &.btn-primary
    background-color: $primary-color
    padding-top: 12px
    padding-bottom: 10px
    padding-right: 40px
    padding-left: 10px
    border-bottom-right-radius: 0

    &:after
      content: ""
      width: 0
      height: 0
      border-top: 8px solid transparent
      border-bottom: 8px solid transparent
      border-left: 15px solid #000
      position: absolute
      top: 50%
      right: 10px
      transform: translateY(-50%)