$primary-color: #bc1413
$primary-color-rgb: #f6dede

html
    margin-top: 0 !important

.hide-items
    display: none

.loadmore
    &:hover
        cursor: pointer

a
    text-decoration: none
    color: $primary-color

    &:hover
        text-decoration: none
        color: $primary-color

.mobile-up
    transition: all 1.2s

    &:hover
        background-size: 110% !important
        transition: all 1.2s
        cursor: pointer

.image-media
    background-size: cover
    transition: 1.2s

    &:hover
        background-size: 110% !important
        transition: 1.2s

.pr-fix
    padding-right: 8px

.pl-fix
    padding-left: 8px

.primary-color
    color: $primary-color

footer
    &.primary-background
        background-color: white

.primary-background
    background-color: $primary-color

.primary-background-trans
    background-color: $primary-color-rgb

.uppercase
    text-transform: uppercase

.bold
    font-weight: bold

.normal
    font-weight: normal
    font-size: 23px

.arrow-right
    width: 20px
    height: 0
    border: 0
    float: right
    margin-top: 2px

    &:before
        font-family: 'Font Awesome 5 Free'
        content: "\f054"
        font-size: 30px
        display: block
        margin-top: -10px
        color: black !important

.arrow-bottom
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-top: 12px solid black
    margin: 10px auto

.ml-20
    margin-left: 20px
    margin-right: 15px

.bg-black
    background-color: black

.title-holder
    background-color: $primary-color

    h3
        color: black
        margin-bottom: 0

.bg-black-trans
    background-color: rgba(0, 0, 0, 0.8)

.bg-white
    background-color: white

.bg-white-trans
    background-color: rgba(255, 255, 255, 0.7)

.bg-gray
    background-color: $primary-color-rgb

.prefooter
    .bg-gray
        background-color: transparent
        border-bottom: 1px solid #000

.text-gray
    color: gray

.text-white
    color: white !important

.text-black
    color: black !important

.dotted-top
    border-color: white
    border-top-style: dotted
    border-top-width: 4px

.dotted-left
    border-left: 0

.dotted-right
    border-color: white
    border-right-style: dotted
    border-right-width: 4px

.dotted-bottom
    border-color: white
    border-bottom-style: dotted
    border-bottom-width: 4px

.dotted-bottom-black
    border-color: black
    border-bottom-style: dotted
    border-bottom-width: 4px

.dotted-right-black
    border-color: black
    border-right-style: dotted
    border-right-width: 4px

.relative
    position: relative

.absolute
    position: absolute

.legacy-post-content .alignnone
    width: 100%
    height: auto

.col-fluid-fix
    margin-left: -7px

.grey-border-bottom-right
    color: #000
    background-color: #f2f2f2
    padding: 15px
    border-left: none
    border-bottom-right-radius: 0

.d-flex-10
    display: flex
    flex: 0 0 10%
    width: 10%

.d-flex-50
    display: flex
    flex: 0 0 50%
    width: 50%

.border-bottom-right-cut
    border-bottom-right-radius: 0

.border-bottom-right-cut-large
    border-bottom-right-radius: 0

.yellow-thick-border
    border-bottom-right-radius: 0
    border-bottom: none
    border-right: none
    background-color: transparent

.object-fit-fix
    overflow: hidden
    object-fit: cover
    height: 100%

.article
    .author
        .bg-black
            background-color: $primary-color-rgb
            border-bottom-right-radius: 0

            .mt-2
                color: black

        .dotted-left
            border-left: 0

.author
    .bg-black
        background-color: white
        border-bottom-right-radius: 0

        h1
            color: black !important

        .mt-2
            color: black

        &.header-content
            color: black !important

    .dotted-left
        border-left: 0

body
    .see-more
        a
            color: $primary-color !important

        &.text-black:not(.newsletter-btn)
            color: $primary-color !important

@media (max-width: 768px)
    .px-md-0
        padding-left: 0
        padding-right: 0

@media (min-width: 768px)
    .mr-md-0
        margin-right: -15px


@media (max-width: 576px)
    .col-fluid-fix
        margin-left: 0
    .pr-fix
        padding-right: calc(var(--bs-gutter-x) / 2)

    .pl-fix
        padding-left: calc(var(--bs-gutter-x) / 2)


.wp-block-table tr:nth-child(odd)
    background-color: #bc141375

.nh-tile .text-black span.bold:before
    content: "\2022"
    top: -28px
    font-size: 3em
    left: -5px !important
    position: absolute

.dot-before:before
    content: "•"
    top: -12px
    font-size: 3em
    left: -20px !important
    position: absolute

.dot-before
    position: relative

.theme-1.nh-tile .text-black span.bold:before,
.theme-1 .dot-before:before
    color: #bc1413

.theme-2.nh-tile .text-black span.bold:before,
.theme-2 .dot-before:before
    color: #52ae32

.theme-5.nh-tile .text-black span.bold:before,
.theme-5 .dot-before:before
    color: #ffec00

.theme-7.nh-tile .text-black span.bold:before,
.theme-7 .dot-before:before
    color: #1bbbe9

.nh-tile .text-black span.bold
    font-size: 17px
    padding-left: 20px

.multi .content-title h5:before
    top: 1px !important

.multi .multi-item:nth-of-type(4)
    display: none

.image-holder
    position: relative
    padding-bottom: 67%
    overflow: hidden
    background-position: center
    background-size: cover

.multi
    .image-icon
        &.bg-black
            border-radius: 50%
            left: 20px
            bottom: 20px
            width: 45px
            height: 45px
            line-height: normal

            i
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)

.bg-red
    background-color: #f6dede

.dem-button
    background-color: transparent
    color: #000
    padding: 0 !important
    font-family: 'Merriweather'
    font-weight: bold
    text-transform: none


.news-items
    &.image-holder
        padding-bottom: 90%

        @media (max-width: 576px)
            padding-bottom: 0

    .theme-content-item
        @media (max-width: 576px)
            margin-bottom: 30px

.underline
    width: 100%
    border-bottom: 1px solid #000
    padding-bottom: 10px

@media (max-width: 576px)
    .news-items
        .col-sm-12
            &.col-md-6
                &:nth-of-type(2)
                    margin-top: 30px

@media (max-width: 400px)
    h2
        .primary-color
            -ms-word-break: break-all
            word-break: break-all
