.dossiers
    a.first-dossier-item
        position: relative
        height: auto
        padding-bottom: 10px
        border-bottom: 1px solid #000

        .image-media
            min-height: 300px

        .content-title
            width: 100%
            position: absolute
            bottom: 0
            padding-top: 10px

            @media (max-width: 576px)
                position: relative
                padding-top: 10px
                padding-bottom: 7px
                padding-left: 8px

        .bg-black-trans
            padding-left: 0 !important
            width: 50px !important

    a
        &:last-of-type
            .theme-content-item
                margin-bottom: 0 !important


    .theme-content-item
        border-bottom: 1px solid #000
        margin-bottom: 5px

        .from-site
            &:before
                margin-right: 5px

        .date-holder
            font-size: 18px !important

            @media (max-width: 1300px)
                font-size: 16px !important

            @media (max-width: 1200px)
                font-size: 14px !important

        h3
            @media (min-width: 768px)
                white-space: nowrap
                text-overflow: ellipsis
                overflow: hidden

    .dossier-item
        display: block
        padding: 20px 15px

        p.sub-title
            padding-bottom: 0
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

    .obj-fit
        object-fit: cover
        height: 100%

    .content-title
        color: white !important

        h2
            word-break: break-word

        .dossier-info
            h2
                font-size: 24px !important

            p
                font-size: 90%

            .bg-black-trans
                color: white !important

        .border-bottom-right-cut
            i
                font-size: 2rem
                position: absolute
                top: 50%
                transform: translateX(-50%) translateY(-50%)

    .post-holder
        h3
            color: #000
            font-size: 22px

        p
            color: #000
            font-size: 16px
