body
    font-size: 20px

    nav.navbar
        .logo-holder
            display: none

            @media (max-width: 991px)
                display: flex
                width: 75vw

    .logo-row
        .logo-holder
            display: flex
            align-self: center
            align-items: center
            height: 100%

        .user-items
            margin-left: 0
            margin-right: 110px

            .search-button-toggle
                display: none

            @media (min-width: 1500px)
                margin-right: 75px

            @media (min-width: 1700px)
                margin-right: 50px

            @media (max-width: 1400px)
                margin-right: 130px

            @media (max-width: 991px)
                margin-right: 0

        .user-items
            .search-button-toggle
                display: none

        .col-lg-8.col-xl-6.vertical-middle
            @media (max-width: 767px)
                flex-direction: column-reverse

                .user-items
                    margin: 10px 0 10px auto

                .select-holder
                    margin-bottom: 10px

        @media (max-width: 991px)
            .logo-holder
                display: none

        @media (max-width: 767px)
            padding: 0

            .sub-header
                height: 0
                overflow: hidden
                display: none

                &.active
                    height: auto
                    display: block

            .user-items
                margin: 0 0 0 auto !important

                .search-button-toggle
                    display: inline-block

                i
                    font-size: 20px

    .dotted-bottom-black
        border-bottom: 1px solid $primary-color

    .yellow-thick-border,
    .border-bottom-right-cut
        border-bottom-right-radius: 0

    .sub-header form.search-holder .select-holder select,
    .sub-header form.search-holder input.search-input
        color: #000
        font-family: 'Merriweather', sans-serif
        font-weight: 700
        max-width: 200px
        border: 2px solid #c6c8ca
        font-size: 21px

        &::placeholder
            color: #000

        @media (max-width: 1190px)
            max-width: 200px

        @media (max-width: 992px)
            max-width: 100%
    .header
        .blackbox
            position: initial

            a
                top: 0
                bottom: 0

            .header-content
                color: #4f4f4f
                min-height: auto
                padding: 150px 30px 30px !important
                position: absolute
                top: 0
                bottom: 0

                h2
                    font-size: 48px
                    margin-bottom: 15px

                span
                    font-weight: 800

                p.mt-2
                    font-family: 'Merriweather', serif
                    font-weight: 400
                    margin-top: 0 !important

                @media (max-width: 575px)
                    right: 15px
                    left: 15px

        .header-content
            & > hr.mt-1
                margin: 0 !important

            .article-content-bar
                margin: 10px auto 0 -30px
                padding-left: 30px !important
                padding-right: 30px !important
                border-top: 0

                p
                    font-weight: bold!important
                    color: black

                h1
                    color: black
                    font-size: 50px

                @media (max-width: 991px)
                    h1
                     font-size: 35px

        &.premium-article
            .header-content
                color: #000 !important

                & > hr.mt-1
                    display: block
                    border-color: #000
                    margin: 15px -20px 0 !important



                .article-content-bar
                    border-top: 0
                    padding-left: 48px !important
                    padding-right: 48px !important




    .prefooter
        &>.container>.row>.col-md-6:nth-child(1)>h2,
        &>.container>.row>.col-md-6:nth-child(1)>h3
            padding-left: 0 !important

        h2.primary-color,
        h3.primary-color
            color: $primary-color
            margin: 0 !important
            border-left: 0
            background-color: transparent
            padding-top: 10px !important
            padding-bottom: 10px
            padding-left: 0 !important
            border-left: 0
            position: relative

            &:before
                content: none
                background-color: transparent
                width: 5px
                position: absolute
                left: 15px
                top: 10px
                bottom: 10px

        .bg-gray
            padding: 15px !important
            a
                h5
                    color: transparent
                    font-size: 24px
                    margin-bottom: 5px

                .sub-title
                    font-size: 20px
                    padding-bottom: 0

                .bold
                    color: black!important


    & > footer
        margin-top: 30px
        border-top: 50px solid $primary-color

        h4
            color: black
            margin-bottom: 30px

    &.single
        section.postloop
            .bg-black
                color: #000 !important
                background-color: transparent

                span
                    font-size: 18px

                p
                    padding-bottom: 0
                    margin-bottom: 10px
                    display: -webkit-box
                    -webkit-line-clamp: 3
                    -webkit-box-orient: vertical
                    overflow: hidden

    .content-type
        font-weight: 700
        top: 20px


body .prefooter>.container>.row>.col-md-6:nth-child(1)>h2, body .prefooter>.container>.row>.col-md-6:nth-child(1)>h3
    padding-left: 0
    border-left: 0
    position: relative

    &:before
        content: none
        background-color: $primary-color
        width: 5px
        position: absolute
        left: 15px
        top: 10px
        bottom: 10px

.header .header-content.bg-black .article-options .bg-black
    background-color: transparent

body .dossiers-loop .dossier-item h3
    color: #fff

#filter-page
    padding-top: 50px

body .header .header-content.bg-black .article-content-bar
    margin-bottom: -10px


.navigation.pagination,
.posts-pagination
    a,
    .page-numbers,
    button
        color: #000

section.subscriptions-cta h2
    color: #fff

section.subscriptions-cta .subscription-holder .subscription-content-holder .subscription-btn .btn-primary
    background-color: $primary-color
    padding-right: 0

    &:after
        color: #000
        right: 0
        border-radius: 0
        background-color: $primary-color
        border: 0
        
body
    &.home
        section
            &.dossiers 
                a 
                    .content-title
                        position: relative

.article-highlight .col-md-9
    order: 2
    padding: 40px 20px

article.article section.article-highlight .image-holder, section.article-highlight .image-holder
    outline: 0

.wp-block-newheap-blocks-article-highlight h3
    font-size: 1.5em
    margin: 5px 0 20px 0

.header-content .bg-black
    color: #000

.large-block .header-content
    padding-top: 0 !important

section
    &.kennispartners
        .image-partner
            .content-type
                font-weight: 800

                span
                    padding-right: 75px !important

            h5
                font-size: 20px
                font-weight: 400
                display: flex
                align-items: center

    &.multimedia
        .image-media
            flex: 0 0 calc(66.6666666667% - 10px)
            width: calc(66.6666666667% - 10px)

        .content-holder
            display: flex
            flex: 0 0 calc(33.3333333333% + 10px)
            width: calc(33.3333333333% + 10px)
            height: auto
            flex-direction: column

            .content-title
                background-color: #1BB7E9
                border-bottom: 4px solid #4f4f4f

                h5
                    color: #fff !important
                    font-size: 22px
                    padding: 10px 15px !important

                    i
                        margin-right: 5px

            .grey-border-bottom-right
                flex-grow: 1
                padding: 15px !important

        .relative
            .content-title
                width: 100% !important

                &.absolute
                    bottom: 50px
                    right: 50px
                    left: 15px
                    display: flex
                    flex-direction: row-reverse

                    h5
                        color: #fff
                        background-color: #4f4f4f !important
                        flex-grow: 1
                        width: auto !important
                        display: flex
                        align-items: center
                        padding: 10px 0 10px 15px !important

                        i
                            font-size: 36px
                            color: $primary-color

                    .primary-background
                        background-color: #4f4f4f !important

        a.post-item
            background-color: $primary-color-rgb
            display: block
    &.dossiers
        h5
            color: black !important
            font-size: 24px !important

            i
                color: $primary-color

        .sub-title
            color: black

        a
            display: inline-block
            width: 100%
            overflow: hidden

            .image-media
                background:
                    size: cover
                    position: center
                min-height: 450px
                transition: all .6s

            .content-title
                width: auto !important
                display: flex
                bottom: 0px !important
                left: 0
                right: 65px
                position: relative
                padding-top: 5px

                .bg-black-trans
                    background-color: transparent
                    flex-grow: 0
                    color: black

                    i
                        color: $primary-color
                        font-size: 30px

                .dossier-info
                    background-color: transparent
                    flex-grow: 1
                    width: auto !important
                    color: black

                    h2
                        color: black
                        font-size: 24px

                h2,
                p
                    padding-left: 15px !important
                    padding-right: 15px !important

                .primary-background
                    width: 75px !important

            &:hover
                .image-media
                    background-size: cover !important
                    transform: scale(1.1)

    &.tests
        .relative
            overflow: hidden
            height: 100%
            background-color: #f4f4f4

            .image-holder
                height: 300px
                background:
                    size: cover
                    position: center
                position: relative
                transition: all .6s

            .content-title
                position: relative
                z-index: 1

    &.categories
        a.post-item .image-media .content-title
            h5
                color: #fff !important
                font-size: 26px
                padding: 10px !important

    &.postloop
        .post-item
            height: 100%

            .grey-border-bottom-right
                flex-grow: 1

    &.recent-items
        .nh-tile-holder
            .nh-tile
                a
                    .tile-content-holder
                        & > span
                            color: black
                        p
                            strong
                                color: black
                                font-family: Merriweather, sans-serif

    &.author
        h3
            color: black

