#filter-page
  .filters-holder
    &.filter-holder
      border-bottom-style: solid
      border-bottom-width: 1px

  .posts-holder,
  .dossiers-holder
    h2
      color: $primary-color
      background-color: transparent!important
      padding: 5px 0

  .dossiers-holder
    .bg-black
      background-color: transparent!important
      h3
        color: $primary-color
