.header

    &.premium-article
        .bg-black
            background-color: #efefef

        .text-white
            color: black

        .header-content
            h2
                padding-left: 0

            p
                padding-left: 0

    h5
        margin-bottom: 0

    h5.pl-5.bold.text-black:before
        color: #bc1413
        content: "\2022"
        top: 10px
        font-size: 3em
        left: -5px !important
        position: relative
        margin-left: 0


    span
        &.date-holder
            margin-right: 8px

        &.read-time
            margin-right: 8px

        &.author
            margin-right: 8px

            i
                margin-right: 3px

    .header-image
        min-height: 70vh

        .content-type
            margin-left: 0
            position: absolute
            left: 0
            top: 15px

        @media (max-width: 1200px)
            min-height: 75vh

    .remove-top-space
        margin-top: -6rem

    .blackbox
        margin-top: 0

        a
            bottom: 0
            left: 0
            max-width: 455px

        .header-content
            min-height: 70vh

            hr
                display: none

    .header-content
        background-color: $primary-color-rgb
        padding: 3rem 2rem !important

        h2, p
            padding-left: 27px
            font-family: "Merriweather", Arial, sans-serif

        &.bg-black
            p
                font-family: "Merriweather", Arial, sans-serif

        &.bg-white
            background-color: transparent !important
            padding: 0 !important

            p
                font-family: "Merriweather", Arial, sans-serif
                font-weight: 400

            .article-top-bar
                .article-options
                    display: flex
                    flex-direction: row
                    flex: 1
                    padding: 0
                    color: black

                    .text-start
                        .bg-black
                            background-color: transparent !important
                            font-weight: 700
                            color: #4f4f4f

                    .text-end
                        .bg-black
                            background-color: transparent !important

        @media (max-width: 575px)
            bottom: 0
            position: relative
            right: 0
            left: 0


        .article-content-bar
            background-color: transparent
            border-top: 1px solid #4f4f4f
            color: #4f4f4f
            margin-left: -30px
            width: calc(100% + 60px)
            margin-top: -10px
            padding-top: 10px
            padding-left: 35px
            padding-bottom: 1px
            padding-right: 35px

            p
                font-weight: 500 !important

            h2, p
                padding-left: 0

            .post-meta-holder
                font-weight: 700
                color: black

            .tax-holder
                margin-top: 1em
                margin-bottom: 1em

                h2
                    &.primary-color
                        color: $primary-color


            hr
                border-top: 1px solid rgba(255, 255, 255, 0.2)

            .text-start
                display: flex
                flex-direction: column
                flex: 1
                color: $primary-color

                span
                    &.bg-white
                        background-color: black !important
                        color: $primary-color

                i
                    margin-right: 5px
                    color: $primary-color

            .text-end
                display: flex
                flex: 1
                justify-content: flex-end

                span
                    &.bg-white
                        background-color: black !important
                        color: white

                    &:first-of-type
                        margin-right: 15px

                    i
                        margin-right: 5px

    .nh-tile-holder
        .tile-content-holder
            position: relative

            &:before
                content: "\2022"
                top: -31px
                font-size: 3em
                left: 0 !important
                position: absolute

@media (max-width: 1400px)
    .header
        .blackbox
            margin-top: 0

@media (max-width: 1200px)
    .header
        .blackbox
            margin-top: 0

@media (max-width: 575px)
    .header-content
        position: relative!important
        margin-bottom: 20px
