nav
    font-family: "Merriweather", sans-serif

    .weather
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        width: 100px
        height: 100%
        margin-top: -11px
        padding-bottom: 30px
        position: absolute
        height: 137px
        right: 50px
        top: 0
        border: 2px solid darkgray

        .weather-icon
            margin-top: 20px

        .current-weather
            margin-bottom: 20px

    &.bg-light
        background-color: $primary-color !important

.logo-row
    background-color: transparent
    border-bottom: 2px solid $primary-color
    padding: 0

    .vertical-middle
        justify-content: space-around

.user-items
    display: flex
    justify-content: flex-end
    margin-right: 0em

    @media (max-width: 576px)

    i
        color: black
        font-weight: bold
        margin-right: 10px
        margin-left: 10px
        font-size: 1.5em

.form-inline
    display: -webkit-box

    .btn
        &.btn-outline-regular
            border: 1px solid gray
            border-top-left-radius: 0
            border-bottom-left-radius: 0

            i
                margin-right: 10px

    .form-control
        width: 75%
        border-top-right-radius: 0
        border-bottom-right-radius: 0

@media (max-width: 991px)
    .navbar-toggler
        margin-top: auto !important

        span
            background-color: #fff
