.from-site
    position: relative
    padding-left: 0px

    &:before
        content: ""
        display: inline-block
        width: 10px
        height: 10px
        border-radius: 50%

    &.from-site-code-1
        &:before
            background-color: #bc1413

    &.from-site-code-2
        &:before
            background-color: #52ae32

    &.from-site-code-5
        &:before
            background-color: #ffec00

    &.from-site-code-7
        &:before
            background-color: #1bbbe9
