section.multimedia
    & > .container
        & > .row
            & > .col-md-8
                & > .row
                    &:first-of-type
                        h5
                            font-size: 26px

                    &:nth-child(3)
                        & > .relative
                            height: 100%

    .row-eq-height
        display: none!important

    .relative
        & > a
            display: inline-block
            width: 100%
            height: 100%

            .image-media
                height: 100%
                padding-top: 60%
                position: relative

        .content-type
            color: #fff
            background-color: $primary-color

        .content-title
            &.absolute
                bottom: 20%
            span
                -ms-word-break: break-all
                word-break: break-all

    .image-media
        flex: 0 0 66.6666666667%
        width: 66.6666666667%
        height: 100%
        padding-top: 0

    .content-holder
        flex: 0 0 33.3333333333%
        width: 33.3333333333%
        height: 100%

        h5
            margin-bottom: 0

    @media all and (max-width: 992px)
        .image-media
            flex: 0 0 50%
            width: 50%
            height: 100%
            padding-top: 0

        .content-holder
            flex: 0 0 50%
            width: 50%
            height: 100%

    @media all and (max-width: 576px)
        .image-media
            flex: 0 0 100%
            width: 100%
            height: 100%
            padding-top: 0

        .content-holder
            flex: 0 0 100%
            width: 100%
            height: 100%

    p
        font-family: "Merriweather", serif

body
    .multimedia
        .image-holder
            padding-bottom: 67%
            overflow: hidden
            -webkit-transform: scale(1)
            -moz-transform: scale(1)
            -ms-transform: scale(1)
            -o-transform: scale(1)
            transform: scale(1)
            -webkit-transition: all 0.5s
            -moz-transition: all 0.5s
            -ms-transition: all 0.5s
            -o-transition: all 0.5s
            transition: all 0.5s

            img
                &:hover
                    -webkit-transform: scale(1.05)
                    -moz-transform: scale(1.05)
                    -ms-transform: scale(1.05)
                    -o-transform: scale(1.05)
                    transform: scale(1.05)
                    -webkit-transition: all 0.5s
                    -moz-transition: all 0.5s
                    -ms-transition: all 0.5s
                    -o-transition: all 0.5s
                    transition: all 0.5s

.opinie
    .bg-red
        .col-sm-12
            &.col-md-6
                &:first-of-type
                    padding-left: 0
                    border-left: 15px solid #FFF
