.navbar-light div > ul > li > a:hover
  background-color: $primary-color

#navbarNavDropdown ul li a
  font-size: 16px

.navbar-light
  #main-menu > .menu-item > a
    color: #fff
    font-weight: bold

  div > ul > li > a:hover
    background-color: #fff
    color: $primary-color !important

  #menu-item-33952.menu-item-has-children > a::after
    color: #fff
    left: 108px
    font-size: 18px
    top: 3px

  #menu-item-33952.menu-item-has-children > a:hover::after
    color: $primary-color !important
