.news-items
  .theme-content-item
    border-bottom: 1px solid black

    .image-holder
      padding-bottom: 67%

    p
      color: black

  &.news-lm
    a
      &.theme-icon-2
        position: relative
        h5
          position: relative
          &:before
            color: #52ae32
            content: "\2022"
            top: 2px
            font-size: 3em
            left: -0px !important
            position: absolute
            line-height: 16px

.news-items a h5
  position: relative
  padding-left: 22px !important

.news-items a h5::before
  line-height: 16px
  top: 0 !important
