.newsletter
  background-color: #E0E0E0

  .fa-envelope-open-text
    padding: 25px
    border-radius: 50%
    background-color: $primary-color
    font-size: 71px
    margin-top: -10px
    margin-bottom: -20px

  .see-more.text-black
    color: #fff !important
    background-color: $primary-color

  .arrow-right:before
    color: #fff !important

  .newsletter-btn
    text-align: left !important

  .see-more .arrow-right
    margin-top: -26px
