.nh-tile-holder
    display: flex
    flex-wrap: wrap
    margin-left: -10px
    margin-right: -10px

    .nh-tile
        flex: 0 0 50%
        width: 50%
        padding: 0 10px !important
        margin: 0 0 20px !important

.header
    .nh-tile-holder
        display: flex
        flex-wrap: wrap
        margin-left: -10px
        margin-right: -10px

        .nh-tile
            flex: 0 0 100%
            width: 100%
            padding: 0 10px !important
            margin: 0 0 20px !important
            border-bottom: 1px solid #000

            &:last-of-type
                margin: 0 0 10px !important

    .text-right
        width: 100%
