.navigation.pagination,
.posts-pagination
    font-family: 'Merriweather', serif
    text-align: center
    margin: 30px 0

    .nav-links
        display: block
        width: 100%

    ul
        padding: 0
        margin: 0

        li
            list-style-type: none
            display: inline-block

    a,
    .page-numbers,
    button
        color: #000
        font-size: 40px
        background-color: transparent
        padding: 5px 10px
        border: none

        &.current,
        &.btn-current-page
            font-weight: 600
            text-decoration: underline
            color: $primary-color

        &.disabled
            pointer-events: none
            opacity: .2

        i
            font-size: 30px
            margin-left: 15px
            margin-right: 15px
