section
  &.quote
    span
      font-size: 3em

  &.wp-block-newheap-blocks-quote
    font-family: 'Merriweather'


    &.quote
      span
        &.quote-holder
          color: $primary-color

          @media (max-width: 576px)
            word-break: break-word
            font-size: 35px