.sub-header
  form
    &.search-holder
      .select-holder
        @media (max-width: 768px)
          margin-bottom: 0.5em

        select
          border-radius: 0

      button
        &.btn-outline-regular
          font-weight: 400
          border-radius: 0
          border-color: transparent
          border-left: none
          font-size: 18px
          position: absolute
          top: 2px
          right: 17px
          bottom: 4px
          transition: all .3s

      input
        &.search-input
          padding-left: 15px
          font-size: 22px
          height: 44px
          border-radius: 0
