html
    font-size: 62.5%
body
    color: black
    font-family: 'Merriweather', serif
    font-size: 1.6rem
    font-weight: 400
    -webkit-font-smoothing: antialiased

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
    color: black
    font-weight: 800
    font-family: 'Merriweather', sans-serif
    line-height: 1.2

h1,
.h1
    font-size: 35px

h2,
.h2
    font-size: 24px

h3,
.h3
    font-size: 22px

h4,
.h4
    font-size: 20px

h5,
.h5
    font-size: 17px

h6,
.h6
    font-size: 16px

p
    margin: 0
    padding-bottom: 1.4rem
    font-size: 16px
