.section-title,
.alt-title
    color: #bc1413
    margin-top: 50px
    margin-bottom: 15px
    font-weight: 600
    font-size: 30px
    width: 100%
    position: relative

.sub-title
    color: #bc1413
    font-size: 25px

#filter-page .posts-loop .dot-before, .author-posts .dot-before
    margin-left: 15px

/** ARTICLES **/
.article-item .excerpt
    font-family: "Crimson Text", serif
    font-size: 20px
    color: #000
    margin-top: 5px

.article-item
    border-color: #bc1413
    border-bottom-style: solid
    border-bottom-width: 1px

.article-item .sub-title
    color: #000

.article-item .meta-holder
    color: #4d4d4d
    font-weight: bold

.premium-label
    background-color: #bc1413
    color: #fff
    padding: 5px 20px
    font-weight: bold

/** BUTTONS **/
.cta-1, .cta-2
    color: #fff
    background-color: #bc1413
    padding: 5px 20px
    font-weight: bold
    transition: transform 0.5s
    display: inline-block
    border: 0

.cta-1:hover, .cta-2:hover
    color: #fff
    transform: scale(1.05)

.cta-1:after, .cta-2:after
    font-family: "Font Awesome 5 Free"
    content: ""
    font-size: 30px
    display: inline-block
    margin-left: 20px
    vertical-align: middle
    font-size: 26px
    margin-top: -2px

.link-block-1, .link-block-2
    color: #bc1413
    padding: 5px 0
    font-weight: bold
    transition: transform 0.5s
    display: inline-block

.link-block-1:hover, .link-block-2:hover
    transform: scale(1.05)

.link-block-1:after
    font-family: "Font Awesome 5 Free"
    content: ""
    display: inline-block
    margin-left: 20px
    vertical-align: middle
    font-size: 26px
    margin-top: -2px
    color: #000

.link-block-2:after
    font-family: "Font Awesome 5 Free"
    content: "\f078"
    display: block
    margin: 0 auto
    text-align: center
    font-size: 26px
    color: #000
