.wp-block-columns.alignfull
    max-width: calc(100vw - 50px)
    width: 100vw
    position: relative
    left: 50%
    transform: translateX(-50%)
    overflow: hidden

    @media (max-width: 576px)
        max-width: calc(100vw - 94px)
        overflow: visible
