article.article section.image-holder,
section.image-holder
    margin-top: 50px
    margin-bottom: 50px
    padding-bottom: 25px
    border-bottom: 1px solid #ccc

    p
        font-size: 19px

    .image-title
        color: #000
        font-size: 1.9rem
        font-weight: 700
        margin-top: 15px

        &:before
            content: ''
            font-size: 1.2rem
            display: inline-block
            margin: 0
