/**
 * WP admin menu
 */
#toplevel_page_newheap .wp-menu-image img {
    max-width: 18px;
    filter: grayscale(1);
    transition: all .2s;
}

#toplevel_page_newheap.current .wp-menu-image img,
#toplevel_page_newheap:hover .wp-menu-image img {
    max-width: 18px;
    filter: grayscale(0);
    opacity: 1
}

/**
 * WP Bakery popup: label styling
 */
.vc_ui-panel-window[data-vc-shortcode=shop] .edit_form_line label {
    display: block;
    padding: 3px 0;
}

/**
 * Hide credit invoices
 */
#woocommerce-order-items .wc-order-bulk-actions button.refund-items {
    display: none;
}

/**
 * Remove democracy plugin from posts
 */
.post-type-post div#democracy-metabox {
    display: none;
}
