﻿body.login {
    background-color: #49a147;
}

body.login.interim-login {
    background-color: #f1f1f1;
}

body.login #login {
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    padding: 30px 140px 30px;
    width: 600px;
    max-width: 90vw;
    box-sizing: border-box;
    position: relative;
    top: 8%;
}

@media (max-width: 767px) {
    body.login #login {
        width: 300px;
        max-width: 300px;
        padding: 30px;
    }
}

body.login.interim-login #login {
    margin: 0 auto;
}

body.login #login h1 a {
    background-image: url('/wp-content/themes/newheap/assets/images/logos/mechaman.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 225px;
    margin: 15px auto;
}

body.login form {
    padding-bottom: 10px;
    max-width: 320px;
    margin: 30px auto 0;
}

body.login p.message,
body.login form {
    box-shadow: none;
    border: 0;
    padding: 0;
}
body.login form p.submit {
    text-align: center;
}
body.login p.message {
    text-align: center;
    border-left: 0;
}

body.login input.button.button-large {
    background-color: #49a147;
    text-shadow: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    float: none;
}

p#nav {
    display: none;
}
.login #nav, .login #backtoblog {
    text-align: center;
}
