article.article section.article-highlight,
section.article-highlight
    color: #fff
    background-color: #000
    margin-top: 50px
    margin-bottom: 50px

    @media (min-width: 1199px)
        margin-left: -200px
        margin-right: -200px

    .image-holder
        height: 100%
        width: 100%
        outline: 5px dotted #fff
        background:
            size: cover
            position: center

        img
            display: none

    h2
        color: #fff

    p
        font-family: "Nunito Sans", Arial, sans-serif !important

    /** Bad practice because we change the padding of the grid system */
    .col-md-9
        padding: 3rem
