@import '../variables'
@import 'article-highlight'
@import 'one-col-image'
@import 'quote'

.wp-block-columns.alignfull
    max-width: calc(100vw - 50px)
    width: 100vw
    position: relative
    left: 50%
    transform: translateX(-50%)
    overflow: hidden

.editor-styles-wrapper,
article.article
    p
        font-size: 21px
        font-family: 'Crimson Text', serif !important

.editor-styles-wrapper
    .block-editor-writing-flow
        p
            font-size: 21px
