.wp-block-newheap-blocks-one-col-image
    border-bottom: 2px solid #ccc
    padding-bottom: 15px

    @media (min-width: 1048px)
        margin-left: -200px
        margin-right: -200px

.wp-block-columns .wp-block-newheap-blocks-one-col-image
    margin-left: 0
    margin-right: 0

article.article section.image-holder,
section.image-holder,
.page-template-template-elements .image-holder
    margin-top: 50px
    margin-bottom: 50px
    height: auto !important

    .image-holder
        width: 100%
        background-image: none !important

        img
            width: 100%

    .image-title
        color: $primary-color
        font-size: 1.3rem
        font-weight: 700
        margin-top: 15px

        &:empty
            visibility: hidden
            height: 0

        &:before
            content: '^'
            font-size: 1.2rem
            display: inline-block
            margin: 0 5px 0 3px

    p
        font-family: "Nunito Sans", Arial, sans-serif !important
        font-size: 20px
        margin-top: 0 !important
        margin-bottom: 0 !important

