section.quote
    text-align: center
    max-width: 550px
    margin: 0 auto

    span.quote-holder
        color: $primary-color
        font-size: 60px
        line-height: 70px

    @media (max-width: 789px)
        span.quote-holder
            font-size: 40px
            line-height: 60px
            word-break: break-word


@media (max-width: 789px)
    section.quote
        width: 100% !important
        padding: 2em !important
