body
    article.article
        .col-sm-12.col-md-8.offset-md-2
            & > p
                a
                    color: #000

        .wp-block-column

            @media (min-width: 600px)
                & + .wp-block-column
                    & > .wp-block-newheap-blocks-one-col-image
                        &:after
                            height: 1px
                            bottom: -1px
