.author-posts
  h3
    &.dotted-bottom-black
      color: black

.header
  .header-content
    h1
      font-size: 60px
      color: white

    .tax-holder
      h4
        font-size: 2rem

.author-posts
  .author-img
    object-fit: cover

  .content-type
    top: 20px
    left: 12px

  h2
    &.bold
      font-size: 2.3rem

  .bold
    span
      font-size: 20px

@media (max-width: 992px)
  .header
    .header-content
      h1
        font-size: 50px

@media (max-width: 500px)
  .header
    .header-content
      h1
        font-size: 50px

      .article-options
        flex-direction: column!important

        .text-start
          text-align: center!important

        .text-end
          text-align: center!important
          justify-content: center

@media (max-width: 400px)
  .header
    .header-content
      h1
        font-size: 40px
        word-break: break-word

      &.text-white
        &.bg-black
          &.remove-top-space
            &.p-5
              &.pt-1
                &.pb-3
                    padding-left: 1rem!important
                    padding-right: 1rem!important


