.btn
  &.btn-primary
    background-color: $primary-color
    padding-top: 12px
    padding-bottom: 10px
    padding-right: 0
    padding-left: 10px
    border-bottom-right-radius: 25px

    &:after
      content: "\f054"
      color: white
      background-color: black
      font-family: 'Font Awesome 5 Free'
      position: relative
      margin-left: 10px
      padding: 15px
      border-bottom-right-radius: 25px
      border-top: 1px solid black
      border-bottom: 1px solid black
      border-left: 1px solid black

      @media (max-width: 576px)
        padding: 14px