section.categories
    a.post-item
        .image-media
            .content-title
                background-color: #fff!important

                h5
                    margin-bottom: 0
                    color: #000!important

            .image-holder
                height: calc(100% - 46px)
