$primary-color: #fff200
$primary-color-rgb: 80, 184, 72

html
    margin-top: 0 !important

.hide-items
    display: none

.loadmore
    &:hover
        cursor: pointer

a
    text-decoration: none
    color: #000

    &:hover
        color: #000


.mobile-up
    transition: all 1.2s

    &:hover
        background-size: 110% !important
        transition: all 1.2s
        cursor: pointer

.image-media
    background-size: cover
    transition: 1.2s

    &:hover
        background-size: 110% !important
        transition: 1.2s

.pr-fix
    padding-right: 8px

.pl-fix
    padding-left: 8px

.primary-color
    color: $primary-color

.primary-background
    background-color: $primary-color

.uppercase
    text-transform: uppercase

.bold
    font-weight: bold

.normal
    font-weight: normal
    font-size: 23px

.arrow-right
    width: 0
    height: 0
    border: 0
    float: right
    margin-top: 2px

    &:before
        font-family: 'Font Awesome 5 Free'
        content: "\f054"
        font-size: 30px
        display: block
        margin-top: -10px

.arrow-bottom
    border: 0 !important
    margin: 0 auto
    margin-bottom: 15px

    &:before
        font-family: 'Font Awesome 5 Free'
        content: "\f078"
        margin-top: -7px
        font-size: 30px
        padding-right: 24px
        display: block
        margin-left: -14px


.ml-20
    margin-left: 20px
    margin-right: 15px

.bg-black
    background-color: black

.title-holder
    background-color: $primary-color

    h3
        color: black
        margin-bottom: 0

.bg-black-trans
    background-color: rgba(0, 0, 0, 0.7)

.bg-white
    background-color: white

.bg-white-trans
    background-color: rgba(255, 255, 255, 0.7)

.bg-gray
    background-color: #9e9e9e2e

.text-gray
    color: gray

.text-white
    color: white !important

.text-black
    color: black !important

.dotted-top
    border: 0

.dotted-left
    border: 0

.dotted-right
    border: 0

.dotted-bottom
    border: 0

.dotted-bottom-black
    border-color: black
    border-bottom-style: solid
    border-bottom-width: 1px

.dotted-right-black
    border-color: black
    border-right-style: dotted
    border-right-width: 4px

.author
    .bg-black
        background-color: #f2f2f2
        border-bottom-right-radius: 30px

        .mt-2
            color: #000

    .dotted-left
        border-left: 5px solid #fff200

.relative
    position: relative

.absolute
    position: absolute

.col-fluid-fix
    margin-left: -7px

.grey-border-bottom-right
    color: #000
    background-color: #f2f2f2
    padding: 15px
    border-left: none
    border-bottom-right-radius: 45px

.d-flex-10
    display: flex
    flex: 0 0 10%
    width: 10%

.d-flex-50
    display: flex
    flex: 0 0 50%
    width: 50%

.border-bottom-right-cut
    border-bottom-right-radius: 30px

.border-bottom-right-cut-large
    border-bottom-right-radius: 50px 50px

.yellow-thick-border
    border-bottom-right-radius: 30px
    border-bottom: 3px solid $primary-color
    border-right: 3px solid $primary-color

.object-fit-fix
    overflow: hidden
    object-fit: cover
    height: 100%

@media (max-width: 768px)
    .px-md-0
        padding-left: 0
        padding-right: 0

@media (min-width: 768px)
    .mr-md-0
        margin-right: -15px


@media (max-width: 576px)
    .col-fluid-fix
        margin-left: 0
    .pr-fix
        padding-right: calc(var(--bs-gutter-x) / 2)

    .pl-fix
        padding-left: calc(var(--bs-gutter-x) / 2)

.wp-block-table tr:nth-child(odd)
    background-color: #fff2004d
