.dossiers
    .obj-fit
        object-fit: cover
        height: 100%

    .content-title
        h2
            word-break: break-word

        .dossier-info
            p
                font-size: 90%

        .border-bottom-right-cut
            i
                font-size: 2rem
                position: absolute
                top: 50%
                transform: translateX(-50%) translateY(-50%)

body.home
    section.dossiers
        .section-title
            @media (min-width: 768px)
                width: calc(66.6667vw - 40px)
                margin-left: auto
                margin-right: auto
