.sidebar
    .section-title
        color: black
        padding-left: 15px

    .toggle-holder
        color: #000
        display: inline-block
        cursor: pointer

        label
            cursor: pointer

        .fas
            display: none

        &.checked
            font-weight: 700

            .fas
                display: inline

.section-title
    text-transform: uppercase

section.favorites

    .nh-posts-loop-holder
        a.post-item
            position: relative
            padding-right: 15px

        a.post-item:hover
            color: #000

        .delete-favorite
            color: #000
            background-color: transparent
            padding: 0
            border: 0
            position: absolute
            top: 0
            right: 0

body
    span[data-favorite-click]
        &.is-favorite
            color: #333
            .fas
                color: #333
