body
    font-size: 20px

    nav.navbar
        .logo-holder
            display: none

            @media (max-width: 991px)
                display: flex
                width: 50vw
                margin: 5px 0 5px 15px
                
            @media (max-width: 767px)
                width: 75vw

    .logo-row
        padding: 15px 0
        border-bottom: 2px solid $primary-color

        .logo-holder
            display: flex
            align-self: center
            align-items: center
            height: 100%
            max-width: 450px

            & > a
                img
                    max-width: 100%

        .user-items
            margin-left: auto
            margin-right: 110px

            .search-button-toggle
                display: none

            @media (max-width: 991px)
                margin-right: 0

        .col-lg-8.col-xl-6.vertical-middle
            @media (max-width: 767px)
                flex-direction: column-reverse

                .user-items
                    margin: 10px 0 10px auto

                .select-holder
                    margin-bottom: 10px

        @media (max-width: 991px)
            .logo-holder
                display: none

        @media (max-width: 767px)
            padding: 0

            .sub-header
                height: 0
                overflow: hidden
                display: none

                &.active
                    height: auto
                    display: block

            .user-items
                margin: 0 0 0 auto !important

                .search-button-toggle
                    display: inline-block

                i
                    font-size: 20px


    .yellow-thick-border,
    .border-bottom-right-cut
        border-bottom-right-radius: 30px

    .header
        .blackbox
            position: initial

            a
                top: 0
                bottom: 0
                left: 20px

            .header-content
                min-height: auto
                padding: 150px 30px 30px !important
                position: absolute
                top: 0
                bottom: 0

                h2
                    font-size: 48px
                    margin-bottom: 15px
                    overflow-wrap: break-word
                    word-wrap: break-word
                    -webkit-hyphens: auto
                    -ms-hyphens: auto
                    -moz-hyphens: auto
                    hyphens: auto


                span
                    font-weight: 800

                p.mt-2
                    margin-top: 0 !important
                    padding-bottom: 0
                    font-family: "Crimson Text",serif

                @media (max-height: 850px)
                    p.mt-2
                        display: -webkit-box
                        -webkit-line-clamp: 3
                        -webkit-box-orient: vertical
                        overflow: hidden
                        padding-bottom: 0

                @media (min-width: 768px)
                    max-width: 400px

                @media (max-width: 767px)
                    padding: 15px !important
                    top: auto
                    left: 15px
                    right: 15px

                    h2
                        font-size: 24px !important


    .prefooter
        &>.container>.row>.col-md-6:nth-child(1)>h2,
        &>.container>.row>.col-md-6:nth-child(1)>h3
            padding-left: 60px !important

        h2.primary-color,
        h3.primary-color
            color: #000
            background-color: $primary-color
            padding: 10px !important

        .bg-gray
            a
                h5
                    margin-bottom: 16px

        @media (max-width: 767px)
            .see-more
                display: inline-block

    & > footer
        margin-top: 30px
        border-top: 50px solid #000

    @media (max-width: 576px)
        .relative
            &.image-holder
                min-height: 180px

    .content-type
        color: #000 !important
        font-weight: 700
        top: 20px


section.subscriptions-cta h2
    color: #fff

section.subscriptions-cta .subscription-holder .subscription-content-holder .subscription-btn .btn-primary
    background-color: $primary-color
    padding-right: 0
    color: #000

    &:after
        color: #000
        right: 0
        border-radius: 0
        background-color: $primary-color
        border: 0

nav
    .weather
        width: 95px !important
        height: 125px !important

        .weather-icon
            margin-top: 10px


.title-holder
    text-transform: uppercase

section
    &.kennispartners
        .image-partner
            .content-type
                color: #000 !important
                font-weight: 800

                span
                    padding-right: 75px !important

            h5
                font-size: 20px
                font-weight: 400
                display: flex
                align-items: center

    &.multimedia
        .image-media
            flex: 0 0 calc(66.6666666667% - 10px)
            width: calc(66.6666666667% - 10px)

            img
                max-height: 460px
                -o-object-fit: cover
                object-fit: cover

        .content-holder
            display: flex
            flex: 0 0 calc(33.3333333333% + 10px)
            width: calc(33.3333333333% + 10px)
            height: auto
            flex-direction: column

            .content-title
                h5
                    color: #fff !important
                    font-size: 22px
                    padding: 15px 15px !important

                    i
                        margin-right: 5px
                        font-size: 1.2em

            .grey-border-bottom-right
                flex-grow: 1
                padding: 15px !important

        .relative
            .content-title
                width: calc(100% - 65px) !important

                &.absolute
                    bottom: 50px
                    right: 50px
                    left: 15px
                    display: flex

                    h5
                        flex-grow: 1
                        width: auto !important
                        display: flex
                        align-items: center
                        padding: 10px 15px !important

                        @media (min-width: 1200px)
                            font-size: 25px
                            -ms-word-break: break-word
                            word-break: break-word

                        i
                            font-size: 30px

        @media (max-width: 767px)
            a > .d-flex
                flex-wrap: wrap

            .image-media
                flex: 0 0 100% !important
                width: 100% !important

            .content-holder
                flex: 0 0 100%
                width: 100%

            .see-more
                margin-bottom: 50px !important


    &.dossiers
        a
            display: inline-block
            width: 100%
            overflow: hidden

            .image-media
                background:
                    size: cover
                    position: center
                min-height: 450px
                transition: all .6s

            .content-title
                width: auto !important
                display: flex
                bottom: 50px !important
                left: 15px
                right: 65px
                overflow: hidden
                padding-right: 80px

                .dossier-info
                    flex-grow: 1
                    max-width: 100%

                h2,
                p
                    padding-left: 15px !important
                    padding-right: 15px !important

                h2
                    font-size: 26px !important
                    text-overflow: ellipsis
                    overflow: hidden


                .primary-background
                    width: 75px !important
                    position: absolute
                    top: 0
                    bottom: 0
                    right: 0

                @media (max-width: 1150px)
                    h2
                        font-size: 20px !important

                @media (max-width: 575px)
                    width: 100%
                    right: 30px

                    .dossier-info
                        h2
                            font-size: 24px !important



                @media (max-width: 360px)
                    .dossier-info
                        h2
                            font-size: 20px !important

                        p
                            font-size: 16px

            &:hover
                .image-media
                    background-size: cover !important
                    transform: scale(1.1)

        @media (max-width: 767px)
            .title-holder
                width: calc(100vw - 30px)

    &.tests
        .relative
            overflow: hidden

            .image-holder
                height: 300px
                background:
                    size: cover
                    position: center
                position: relative
                z-index: -1
                transition: all .6s

    &.categories
        .content-title

            h5
                font-size: 26px
                padding: 15px 0 0 !important

    &.postloop
        .post-item
            height: 100%

            @media (max-width: 576px)
                padding-bottom: 15px

            .grey-border-bottom-right
                flex-grow: 1

    &.recent-items
        @media (max-width: 650px)
            .nh-tile-holder
                .nh-tile
                    a
                        height: auto

                        .tile-image-holder
                            flex: 0 0 100%
                            width: 100%

                            .tile-image
                                padding-top: 60%

                        .tile-content-holder
                            flex: 0 0 100%
                            width: 100%
                            border-top: 0

    &.posts-overview
        .post-item
            .image
                padding-top: 60%


.single
    section.postloop
        .bg-black
            color: #000 !important
            background-color: #f2f2f2
            border-bottom-right-radius: 50px

            span
                font-size: 18px

            p
                padding-bottom: 0
                margin-bottom: 10px
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
                overflow: hidden

.subscription-overview .subscription-cta a
    color: #fff200

section.multimedia .relative .content-title.absolute
    left: 0 !important

.prefooter .bg-gray > a:hover
    text-decoration: none !important
