#filter-page
    .posts-holder,
    .dossiers-holder
        h2
            color: #000 !important
            background-color: $primary-color
            padding: 5px 15px

    .dossiers-holder
        .bg-black
            h3
                color: #fff


    .filter-holder.sort
        border: 0
