//@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Nunito+Sans:wght@400;800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700;800&family=Spectral&display=swap')

html body
    font-family: 'Exo', sans-serif

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        font-weight: 800

