footer
    ul
        list-style: none
        padding-left: 0

        li
            a
                color: black
                padding-left: 0!important
                padding-top: 0!important

                &:hover
                    color: black
                    font-weight: bold

    .text-white
        color: #000 !important
