.single-post
    .header.premium-article
        .header-content
            margin-top: -17rem

    .header-content
        border-bottom-right-radius: 50px

    .header-content hr
        visibility: hidden

    .tax-holder
        display: none

.header
    span
        &.date-holder
            margin-right: 8px

        &.read-time
            margin-right: 8px

        &.author
            margin-right: 8px

            i
                margin-right: 3px

            a
                color: #000

    .header-image
        height: 70vh
        min-height: 800px

        .content-type
            top: 30px
            left: 0

            @media (min-width: 768px)
                font-size: 20px
                display: flex
                align-items: center
                margin-left: -30px
                margin-bottom: 12px

                i
                    padding-left: 15px

        .read-more
            font-family: "Exo", sans-serif
            font-size: 17px

        .read-more-mob
            display: none
            font-size: 17px

        @media (max-height: 850px)
            min-height: auto
            
            .read-more-mob
                display: inline-block

    .remove-top-space
        margin-top: -6rem

    .article-options
        .text-start
            color: $primary-color
            font-weight: bold

    .blackbox
        margin-top: 0

        a
            bottom: 0

        .header-content
            min-height: 70vh

            hr
                display: none


        &.bg-white
            background-color: white !important

            .article-top-bar
                .article-options
                    display: flex
                    flex-direction: row
                    flex: 1
                    padding: 10px
                    background-color: white !important

            .article-content-bar
                background-color: white !important

                h1
                    color: black

    .article-top-bar
        .article-options
            display: flex
            flex-direction: row
            flex: 1
            padding: 10px

    .article-content-bar
        background-color: white
        color: black
        margin-left: -30px
        width: calc(100% + 60px)
        margin-top: -10px
        padding-top: 10px
        padding-left: 35px
        padding-bottom: 1px
        padding-right: 35px
        border-bottom-right-radius: 44px
        margin-bottom: -10px

        h1
            color: black

        p
            font-weight: 500 !important

        .post-meta-holder
            font-weight: 700

        .tax-holder
            h2
                &.primary-color
                    color: #777

        hr
            border-top: 1px solid rgba(255, 255, 255, 0.2)

        .text-start
            display: flex
            flex-direction: column
            flex: 1
            color: $primary-color

            span
                &.bg-white
                    background-color: black !important
                    color: $primary-color

            i
                margin-right: 5px
                color: $primary-color

        .text-end
            display: flex
            flex: 1
            justify-content: flex-end

            span
                &.bg-white
                    background-color: black !important
                    color: white

                &:first-of-type
                    margin-right: 15px

                i
                    margin-right: 5px

.premium-article
    .article-content-bar
        background-color: #f2f2f2

@media (max-width: 1400px)
    .header
        .blackbox
            margin-top: 0

@media (max-width: 1200px)
    .header
        .blackbox
            margin-top: 0

.navbar-light div > ul > li > a:hover
    background-color: #fff

.is-favorite
    color: $primary-color
