nav
  font-family: "Times New Roman", sans-serif

  &.bg-light
    background-color: $primary-color!important

.logo-row
  background-color: white

  .vertical-middle
    justify-content: space-around

.user-items
  display: flex
  justify-content: flex-end
  margin-right: 7em

  @media (max-width: 576px)

  i
    color: black
    font-weight: bold
    margin-right: 10px
    margin-left: 10px
    font-size: 1.5em

.form-inline
  display: -webkit-box
  .btn
    &.btn-outline-regular
      border: 1px solid gray
      border-top-left-radius: 0
      border-bottom-left-radius: 0

      i
        margin-right: 10px

  .form-control
    width: 75%
    border-top-right-radius: 0
    border-bottom-right-radius: 0