.newsletter
  background-color: #F2F2F2
  overflow: hidden

  .fas
    background-color: #FFED00
    color: #000
    margin-top: -39px
    height: 187px
    margin-bottom: -53px
    padding-top: 40px
    padding-left: 20px
    padding-right: 20px
    box-shadow: 0 160px 0 #FFED00

    @media (max-width: 576px)
      background-color: transparent
      padding-top: 40px
      padding-left: 20px
      padding-right: 20px
      margin-left: -15px
      width: calc(100% + 30px)
      box-shadow: 0 160px 0 transparent

  .title
    color: #222
    font-size: 22px
    font-weight: 500

    @media (max-width: 576px)
      display: inline-block
      padding-top: 20px

  .arrow-right
    margin-top: 3px


