.nh-container-fluid
    overflow: hidden
    width: 1920px
    max-width: 100%
    margin: 0 auto

.nh-tile-holder
    display: flex
    flex-wrap: wrap
    margin-left: -10px
    margin-right: -10px

    .nh-tile
        flex: 0 0 50%
        width: 50%
        padding: 0 10px !important
        margin: 0 0 20px !important
