section
  &.quote
    span
      font-size: 3em

  &.wp-block-newheap-blocks-quote
    padding: 2em
    width: 75%
    margin: 0 auto
    border-bottom-right-radius: 90px
    border-bottom: 4px solid $primary-color
    border-right: 4px solid $primary-color


    &.quote
      span
        &.quote-holder
          color: black

