section.recent-items
  .nh-tile-holder
    display: flex
    flex-wrap: wrap

    .nh-tile
      margin-top: 10px
      margin-bottom: 10px
      flex: 0 0 50%
      width: 50%
      padding: 2.5px

      a
        display: flex
        flex-wrap: wrap
        height: 100%

        .tile-image-holder,
        .tile-content-holder
          flex: 0 0 50%
          width: 50%
          height: 100%

        .tile-image-holder
          overflow: hidden
          position: relative

          .tile-image
            height: 100%
            width: 100%
            background-size: cover
            background-repeat: no-repeat
            background-position: center
            transition: all .5s

        .tile-content-holder
          color: black
          background-color: #f2f2f2
          padding: 15px
          border-left: none
          border-bottom-right-radius: 45px

          span
            font-weight: bold

          h2
            font-size: 30px

            @media (max-width: 1600px)
              font-size: 24px

          p
            font-family: "Crimson Text", serif

        &:hover
          .tile-image
            transform: scale(1.05)

    @media (max-width: 1250px)
      .nh-tile
        a
          .tile-image-holder
            flex: 0 0 33.3333%
            width: 33.3333%
          .tile-content-holder
            flex: 0 0 66.6667%
            width: 66.6667%

    @media (max-width: 991px)
      .nh-tile
        flex: 0 0 100%  !important
        width: 100%  !important

        a
          .tile-image-holder
            flex: 0 0 33.3333%
            width: 33.3333%
          .tile-content-holder
            flex: 0 0 66.6667%
            width: 66.6667%


