.sub-header
  form
    &.search-holder
      button
        &.btn-outline-regular
          font-weight: 400
          border-radius: 0
          border-color: transparent
          border-left: none
          font-size: 18px
          position: absolute
          top: 0
          right: 16px
          bottom: 0
          transition: all .3s

          &:hover
            border-top-right-radius: 10px
            border-bottom-right-radius: 10px
            border-top: 1px solid #ced4da
            border-bottom: 1px solid #ced4da

      input
        &.search-input
          padding-left: 15px
          font-size: 22px
          height: 44px