section.subscriptions-cta
    padding: 75px 0

    .subscription-holder
        color: #000
        display: flex
        align-items: center
        background-color: #f2f2f2

        .subscription-image-holder
            text-align: right
            flex-grow: 0
            width: 20%
            position: relative

            .image-holder
                width: 200px

                img
                    display: block
                    width: 175px
                    height: auto
                    border: 3px solid #fff
                    box-shadow: 0 0 5px rgba(0, 0, 0, .5)
                    position: absolute
                    top: calc(50% - 10px)
                    left: 75px
                    transform: rotate(-10deg) translateY(-50%)
                    -webkit-backface-visibility: hidden

                @media (max-width: 991px)
                    img
                        width: 150px
                        position: relative
                        top: 0
                        left: 50px
                        transform: rotate(-10deg)

        .subscription-content-holder
            padding: 30px 30px 30px 75px
            display: flex
            flex-grow: 1
            max-width: 100%

            .subscription-content
                h2
                    color: #000
                    margin-top: 0
                    font-size: 3em
                    margin-bottom: 0

                    @media (max-width: 768px)
                        color: #000
                        margin-top: 0
                        font-size: 25px
                        margin-bottom: 0

            .subscription-btn
                min-width: 300px
                padding: 30px 50px 30px 0
                flex-grow: 1
                max-width: 100%

                .btn-primary
                    background-color: $primary-color
                    padding-top: 12px
                    padding-bottom: 10px
                    padding-right: 0
                    padding-left: 10px
                    border-bottom-right-radius: 25px

                    &:after
                        content: "\f054"
                        color: #fff
                        background-color: #000
                        font-family: "Font Awesome 5 Free"
                        position: relative
                        margin-left: 10px
                        padding: 15px
                        border-bottom-right-radius: 25px
                        border-top: 1px solid #000
                        border-bottom: 1px solid #000
                        border-left: 1px solid #000

                    @media (max-width: 991px)
                        margin-left: 0

                @media (max-width: 400px)
                    text-align: center
                    padding: 0
                    margin-top: 15px
                    min-width: auto

                    a
                        font-size: 14px


            @media (max-width: 991px)
                padding: 30px !important
                flex-direction: column

            @media (max-width: 991px) and (min-width: 768px)
                padding-left: 100px !important

        @media (max-width: 767px)
            text-align: center
            flex-direction: column

            .subscription-image-holder
                .image-holder
                    margin: 30px 0 0
                    width: auto

                    img
                        top: auto
                        left: auto
                        transform: none

            .subscription-btn
                padding-right: 0 !important



