html
    font-size: 62.5%
body
    color: #000
    font-family: 'Spectral', serif
    font-size: 1.6rem
    font-weight: 400
    -webkit-font-smoothing: antialiased

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
    color: #000
    font-weight: 800
    font-family: 'Exo', sans-serif
    line-height: 1.2

h1,
.h1
    font-size: 35px

h2,
.h2
    font-size: 30px

    @media (max-width: 400px)
        font-size: 25px

h3,
.h3
    font-size: 25px

h4,
.h4
    font-size: 21px

h5,
.h5
    font-size: 18px

h6,
.h6
    font-size: 16px


@media (max-width: 576px)
    h1,
    .h1
        font-size: 31px

    h2,
    .h2
        font-size: 24px

    h3,
    .h3
        font-size: 22px

    h4,
    .h4
        font-size: 19px

    h5,
    .h5
        font-size: 17px

    h6,
    .h6
        font-size: 15px

p
    margin: 0
    padding-bottom: 1.4rem

.home .header-content h2
    display: -webkit-box
    -webkit-line-clamp: 6
    -webkit-box-orient: vertical
    overflow: hidden

h2.font-smaller
    font-size: 40px !important
