.section-title,
.alt-title
  color: #000
  background-color: #fff200
  padding: 10px
  margin-top: 50px
  margin-bottom: 15px
  font-weight: 800
  font-size: 30px
  text-transform: uppercase
  width: 100%
  position: relative

.sub-title
  color: #000
  font-weight: bold
  font-size: 25px

.container > .section-title:before, .main > .container > .row > .col-md-12 > .section-title:before
  width: 200vw
  left: -100vw
  top: 0
  display: block
  content: " "
  background-color: #fff200
  position: absolute
  z-index: -1
  height: 100%


/** ARTICLES **/
.post-item:hover, .block-link:hover
  text-decoration: none

.article-item .excerpt
  font-family: "Crimson Text",serif
  font-size: 20px
  color: #000
  margin-top: 5px

.article-item
  border-color: #000
  border-bottom-style: solid
  border-bottom-width: 1px

.article-item:hover
  text-decoration: none

.article-item .sub-title
  color: #000

.article-item .meta-holder
  color: #000
  font-weight: bold

.premium-label
  background-color: #fff200
  color: #000
  padding: 5px 20px
  font-weight: bold

/** AUTHOR **/
.author a:hover
  text-decoration: none

/** BUTTONS **/
.cta-1, .cta-2
  color: #000
  background-color: #fff200
  padding: 5px 20px
  font-weight: bold
  transition: transform 0.5s
  display: inline-block
  position: relative

.cta-1:hover, .cta-2:hover
  color: #000
  transform: scale(1.05)
  text-decoration: none

.cta-1:after, .cta-2:after
  font-family: "Font Awesome 5 Free"
  content: ""
  font-size: 20px
  display: inline-block
  margin-left: 20px
  vertical-align: middle
  margin-top: -2px
  color: #000

.cta-1:after
  color: #fff
  background-color: #000
  position: absolute
  top: 0
  bottom: 0
  padding: 5px 20px
  border-bottom-right-radius: 15px
  margin-top: 0

.link-block-1, .link-block-2
  color: #000
  padding: 5px 0
  font-weight: bold
  transition: transform 0.5s
  display: inline-block

.link-block-1:hover, .link-block-2:hover
  transform: scale(1.05)
  color: #000
  text-decoration: none

.link-block-1:after
  font-family: "Font Awesome 5 Free"
  content: ""
  display: inline-block
  margin-left: 20px
  vertical-align: middle
  font-size: 26px
  margin-top: -2px
  color: #000

.link-block-2:after
  font-family: "Font Awesome 5 Free"
  content: "\f078"
  display: block
  margin: 0 auto
  text-align: center
  font-size: 26px
  color: #000


/** Info-block **/
.info-block-holder

.info-block
  width: 100%

  .text-start
    text-align: left
    flex: 1

  .text-end
    text-align: right
    flex: 1

.info-block .block-header
  width: 100%
  background-color: #000
  padding: 15px 40px
  display: flex
  flex-direction: row
  flex: 1

  .block-premium
    color: #fff200
    font-weight: bold

    span
      padding-left: 5px

  .block-favorite
    color: #fff

.info-block .block-content
  background-color: #f2f2f2
  border-bottom-right-radius: 44px
  padding: 20px 40px

  .post-meta-holder
    font-weight: bold

  h1
    font-size: 60px

  .tax-holder h2
    color: #000
