.wp-block-cb-carousel.slick-slider
    .wp-block-cb-slide.slick-slide

        h1,
        h2,
        h3,
        h4,
        h5,
        h6
            color: $primary-color

        &.slick-active
            &:after
                content: ''
                border-right: 4px dotted #000
                position: absolute
                top: 0
                right: -2px
                bottom: 0

                @media (max-width: 767px)
                    border: none
