//See /elementen-test/ page for elements

/** TITLES **/
.section-title,
.alt-title
    color: #50b848
    margin-top: 50px
    margin-bottom: 15px
    font-weight: 600
    font-size: 30px
    text-transform: uppercase
    width: 100%
    position: relative

.sub-title
    color: #50b848
    font-weight: bold
    font-size: 25px

/** ARTICLES **/
.article-item .excerpt
    font-family: "Crimson Text", serif
    font-size: 20px
    color: #000
    margin-top: 5px

.article-item
    border-color: #000
    border-bottom-style: dotted
    border-bottom-width: 4px

.article-item .sub-title
    color: #000
    text-transform: uppercase

.article-item .meta-holder
    color: #000
    font-weight: bold

.premium-label
    background-color: #50b848
    color: #fff
    padding: 5px 20px


/** BUTTONS **/
.cta-1, .cta-2
    color: #fff
    background-color: #000
    padding: 5px 20px
    font-weight: bold
    transition: transform 0.5s
    display: inline-block
    border: 0

.cta-2
    color: #fff
    background-color: #50b848
    padding: 5px 20px
    font-weight: bold
    transition: transform 0.5s
    display: inline-block

.cta-1:hover, .cta-2:hover
    color: #fff
    transform: scale(1.05)

.cta-1:after, .cta-2:after
    content: ""
    display: inline-block
    border-top: 8px solid transparent
    border-bottom: 8px solid transparent
    border-left: 12px solid #fff
    vertical-align: middle
    margin-left: 15px
    margin-top: -1px

.cta-2:after
    border-left: 12px solid #000

.link-block-1, .link-block-2
    font-size: 18px
    color: #000
    padding: 5px 0
    font-weight: bold
    transition: transform 0.5s
    display: inline-block

.link-block-1:hover, .link-block-2:hover
    transform: scale(1.05)
    color: #000

.link-block-1:after
    content: ""
    display: inline-block
    border-top: 8px solid transparent
    border-bottom: 8px solid transparent
    border-left: 12px solid #000
    vertical-align: middle
    margin-left: 15px
    margin-top: -1px

.link-block-2:after
    font-family: "Font Awesome 5 Free"
    content: ""
    display: block
    width: 0
    height: 0
    border-left: 8px solid transparent
    border-right: 8px solid transparent
    border-top: 12px solid #000
    margin: 10px auto
