article.article section.article-highlight,
section.article-highlight
    color: #000
    background-color: #FFF
    margin-top: 50px
    margin-bottom: 50px
    width: calc(100% + 90px)
    left: 50%
    position: relative
    transform: translateX(-50%)

    .col-md-6
        &:nth-of-type(2)
            padding-top: 5px
            border-bottom-right-radius: 90px
            border-bottom: 4px solid $primary-color
            border-right: 4px solid $primary-color
            padding-right: 20px

    .image-holder
        height: 100%
        width: 100%
        border-right: none
        background:
            size: cover
            position: center

        img
            display: none

    h2
        color: #000

    p
        font-family: "Roboto", Arial, sans-serif !important
