$primary-color:  #1bb7e9
$primary-color-rgb: 80, 184, 72

html
  margin-top: 0!important

.hide-items
  display: none

.loadmore
  &:hover
    cursor: pointer

a
  text-decoration: none
  color: $primary-color

  &:hover
    text-decoration: none
    color: $primary-color

.mobile-up
  transition: all 1.2s

  &:hover
    background-size: 110%!important
    transition: all 1.2s
    cursor: pointer

.image-media
  background-size: cover
  transition: 1.2s
  &:hover
    background-size: 110%!important
    transition: 1.2s

.pr-fix
  padding-right: 8px

.pl-fix
  padding-left: 8px

.primary-color
  color: $primary-color

footer
  &.primary-background
    background-color: #4f4f4f

.primary-background
  background-color: $primary-color

.uppercase
  text-transform: uppercase

.bold
  font-weight: bold

.normal
  font-weight: normal
  font-size: 23px

.arrow-right
  width: 0
  height: 0
  border: 0
  float: right
  margin-top: 2px

  &:before
    font-family: 'Font Awesome 5 Free'
    content: "\f054"
    font-size: 30px
    display: block
    margin-top: -10px

.arrow-bottom
  border: 0 !important
  margin: 0 auto
  margin-bottom: 15px

  &:before
    font-family: 'Font Awesome 5 Free'
    content: "\f078"
    margin-top: -7px
    font-size: 30px
    padding-right: 24px
    display: block
    margin-left: -14px

.ml-20
  margin-left: 20px
  margin-right: 15px

.bg-black
  background-color: black

.title-holder
  background-color: $primary-color
  h3
    color: black
    margin-bottom: 0

.bg-black-trans
  background-color: rgba(0, 0, 0, 0.8)

.bg-white
  background-color: white
.bg-white-trans
  background-color: rgba(255, 255, 255, 0.7)

  h5
    color: black

.bg-gray
  background-color: #9e9e9e2e

.text-gray
  color: gray

.text-white
  color: white!important

.text-black
  color: black!important

.dotted-top
  border: 0

.dotted-left
  border: 0

.dotted-right
  border: 0

.dotted-bottom
  border: 0

.author
  .bg-black
    background-color: #4f4f4f
  .dotted-left
    border-left: 5px solid #1bb7e9

.dotted-bottom-black
  border-color: black
  border-bottom-style: dotted
  border-bottom-width: 4px

.dotted-right-black
  border-color: black
  border-right-style: dotted
  border-right-width: 4px

.relative
  position: relative

.absolute
  position: absolute

.col-fluid-fix
  margin-left: -7px

.grey-border-bottom-right
  color: #000
  background-color: #f2f2f2
  padding: 15px
  border-left: none
  border-bottom-right-radius: 0

.d-flex-10
  display: flex
  flex: 0 0 10%
  width: 10%

.d-flex-50
  display: flex
  flex: 0 0 50%
  width: 50%

.border-bottom-right-cut
  border-bottom-right-radius: 0

.border-bottom-right-cut-large
  border-bottom-right-radius: 0

.yellow-thick-border
  border-bottom-right-radius: 0
  border-bottom: none
  border-right: none
  background-color: #f2f2f2

.object-fit-fix
  overflow: hidden
  object-fit: cover
  height: 100%

@media (max-width: 768px)
  .px-md-0
    padding-left: 0
    padding-right: 0

@media (min-width: 768px)
  .mr-md-0
    margin-right: -15px


@media (max-width: 576px)
  .col-fluid-fix
    margin-left: 0
  .pr-fix
    padding-right: calc(var(--bs-gutter-x)/ 2)

  .pl-fix
    padding-left: calc(var(--bs-gutter-x)/ 2)

.quote-holder
  position: relative

.quote-holder:before,
.quote-holder:after
  content: ""
  width: 49px
  height: 74px
  display: block
  position: absolute

.quote-holder:before
  background-image: url('../images/qoute-start-vt.jpg')
  top: -50px
  left: -70px

.quote-holder:after
  background-image: url('../images/qoute-end-vt.jpg')
  right: -70px
  bottom: -50px

.quote-holder
  font-family: "Roboto", sans-serif !important

section.wp-block-newheap-blocks-quote
  font-family: "Roboto", sans-serif !important
  font-size: 12px !important
  margin-top: 60px !important
  margin-bottom: 60px !important

.wp-block-table tr:nth-child(odd)
  background-color: #1bb7e975
