section.favorites
    .sidebar
        .section-title
            color: #fff
            padding-left: 15px

        .toggle-holder
            color: #000
            display: inline-block
            cursor: pointer

            label
                cursor: pointer

            .fas
                display: none

            &.checked
                font-weight: 700

                .fas
                    display: inline

    .nh-posts-loop-holder
        a.post-item
            position: relative
            padding-right: 15px

        .delete-favorite
            color: #000
            background-color: transparent
            padding: 0
            border: 0
            position: absolute
            top: 0
            right: 0

body
    span[data-favorite-click]
        &.is-favorite
            .fas
                color: $primary-color

body
    .premium-article
        span[data-favorite-click]
            &.is-favorite
                .fas
                    color: #FFF
