body
    font-size: 20px

    nav.navbar
        .logo-holder
            display: none

            @media (max-width: 991px)
                display: flex
                width: 50vw
                margin: 5px 0 5px 15px

            @media (max-width: 767px)
                width: 75vw

    .logo-row
        padding: 0

        .logo-holder
            display: flex
            align-self: center
            align-items: center
            height: 100%

            & > a
                img
                    max-width: 100%
                    max-height: 50px

        .user-items
            margin-left: auto
            margin-right: 140px


            .search-button-toggle
                display: none

            @media (max-width: 991px)
                margin-right: 0

        .col-lg-8.col-xl-6.vertical-middle
            @media (max-width: 767px)
                flex-direction: column-reverse

                .user-items
                    margin: 10px 0 10px auto

                .select-holder
                    margin-bottom: 10px

        @media (max-width: 991px)
            .logo-holder
                display: none

        @media (max-width: 767px)
            padding: 0

            .sub-header
                height: 0
                overflow: hidden
                display: none

                &.active
                    height: auto
                    display: block

            .user-items
                margin: 0 0 0 auto !important

                .search-button-toggle
                    display: inline-block

                i
                    font-size: 20px

    .dotted-bottom-black
        border-bottom: 1px solid #BDBDBD

    .yellow-thick-border,
    .border-bottom-right-cut
        border-bottom-right-radius: 0

    .sub-header form.search-holder .select-holder select,
    .sub-header form.search-holder input.search-input
        color: #6c757d
        font-family: 'Roboto', sans-serif
        font-weight: 700

    .sub-header .category-dropdown
        @media (min-width: 768px)
            width: 175px
            max-width: 100%

    .header
        .blackbox
            position: initial

            a
                top: 0
                bottom: 0

            .header-content
                color: #4f4f4f
                min-height: auto
                padding: 0 30px 30px !important
                position: absolute
                top: 0
                bottom: 0
                display: flex
                flex-direction: column
                justify-content: center

                &.bg-white
                    background-color: rgba(225, 225, 225, 0.8)!important

                h2
                    font-size: 48px
                    margin-bottom: 15px

                span
                    font-weight: 800

                p.mt-2
                    font-family: 'Spectral', serif
                    font-weight: 400
                    margin-top: 0 !important

                @media (max-height: 850px)
                    p.mt-2
                        display: -webkit-box
                        -webkit-line-clamp: 2
                        -webkit-box-orient: vertical
                        overflow: hidden
                        padding-bottom: 0

                @media (min-width: 768px)
                    max-width: 400px

                @media (max-width: 767px)
                    padding: 15px !important
                    top: auto
                    right: 15px
                    left: 15px

                    h2
                        font-size: 26px !important

                    p
                        display: -webkit-box
                        -webkit-line-clamp: 2
                        -webkit-box-orient: vertical
                        overflow: hidden
                        padding-bottom: 0 !important

        .header-content
            & > hr.mt-1
                display: none

            h1
                color: #fff

            .article-content-bar
                margin: 0px auto 0 -30px

                h1
                    color: #4f4f4f

    section
        &.kennispartners
            .image-partner
                .content-type
                    font-weight: 800

                    span
                        padding-right: 75px !important

                h5
                    font-size: 20px
                    font-weight: 400
                    display: flex
                    align-items: center

        &.multimedia
            .image-media
                flex: 0 0 calc(66.6666666667% - 10px)
                width: calc(66.6666666667% - 10px)

                img
                    max-height: 460px
                    -o-object-fit: cover
                    object-fit: cover

            .content-holder
                display: flex
                flex: 0 0 calc(33.3333333333% + 10px)
                width: calc(33.3333333333% + 10px)
                height: auto
                flex-direction: column

                .content-title
                    background-color: #1BB7E9
                    border-bottom: 4px solid #4f4f4f

                    h5
                        color: #fff !important
                        font-size: 22px
                        padding: 15px 15px !important

                        i
                            margin-right: 5px
                            font-size: 1.2em

                .grey-border-bottom-right
                    flex-grow: 1
                    padding: 15px !important

            .relative
                .content-title
                    width: calc(100% - 65px) !important

                    &.absolute
                        width: calc(100% - 30px) !important
                        bottom: 50px
                        right: 15px
                        left: 15px
                        display: flex
                        flex-direction: row-reverse

                        @media (max-width: 992px)
                            right: 0
                            width: calc(100% - 30px) !important

                        h5
                            color: #fff
                            background-color: #4f4f4f !important
                            flex-grow: 1
                            width: auto !important
                            display: flex
                            align-items: center
                            padding: 10px 0 10px 15px !important

                            i
                                font-size: 36px
                                color: $primary-color

                        .primary-background
                            background-color: #4f4f4f !important

            a.post-item
                background-color: #f2f2f2
                display: block


            @media (max-width: 767px)
                a > .d-flex
                    flex-wrap: wrap

                .image-media
                    flex: 0 0 100% !important
                    width: 100% !important

                .content-holder
                    flex: 0 0 100%
                    width: 100%

                .see-more
                    margin-bottom: 50px !important
        &.dossiers
            h5
                color: #4f4f4f !important
                font-size: 24px !important

                i
                    color: $primary-color

            .sub-title
                color: #4f4f4f

            a
                display: inline-block
                width: 100%
                overflow: hidden

                .image-media
                    background:
                        size: cover
                        position: center
                    min-height: 450px
                    transition: all .6s

                .content-title
                    width: auto !important
                    display: flex
                    bottom: 50px !important
                    left: 15px
                    right: 65px

                    .bg-black-trans
                        background-color: #4f4f4f
                        padding-left: 20px !important
                        flex-grow: 0
                        width: 100px !important

                        i
                            color: $primary-color
                            font-size: 30px

                    .dossier-info
                        background-color: #4f4f4f
                        flex-grow: 1
                        width: auto !important

                        h2
                            color: #fff
                            font-size: 24px

                    h2,
                    p
                        padding-left: 15px !important
                        padding-right: 15px !important

                    .primary-background
                        width: 75px !important

                    @media (max-width: 1350px)
                        .bg-black-trans
                            padding-left: 10px !important
                            width: 75px !important
                        h2
                            font-size: 24px !important

                    @media (max-width: 1199px)
                        right: 15px

                        .bg-black-trans
                            width: 50px !important
                            padding-right: 0 !important

                    @media (max-width: 991px) and (min-width: 768px)
                        .bg-black-trans
                            display: none !important

                &:hover
                    .image-media
                        background-size: cover !important
                        transform: scale(1.1)

            @media (max-width: 767px)
                .title-holder
                    width: calc(100vw - 30px)

        &.tests
            .relative
                overflow: hidden
                height: 100%
                background-color: #f4f4f4

                .image-holder
                    height: 300px
                    background:
                        size: cover
                        position: center
                    position: relative
                    transition: all .6s

                .content-title
                    position: relative
                    z-index: 1

        &.categories
            a.post-item .image-media .content-title
                background-color: #4f4f4f !important
                border-top: 4px solid $primary-color

                h5
                    color: #fff !important
                    font-size: 26px
                    padding: 10px !important

        &.postloop
            .post-item
                height: 100%

                .grey-border-bottom-right
                    flex-grow: 1

        &.recent-items
            .nh-tile-holder
                .nh-tile
                    a
                        .tile-content-holder
                            & > span
                                color: #4f4f4f
                            p
                                strong
                                    color: #4f4f4f
                                    font-family: Roboto, sans-serif

                @media (max-width: 650px)
                    .nh-tile
                        a
                            height: auto

                            .tile-image-holder
                                flex: 0 0 100%
                                width: 100%

                                .tile-image
                                    padding-top: 60%

                            .tile-content-holder
                                flex: 0 0 100%
                                width: 100%
                                border-top: 0

        &.author
            h3
                color: #fff

        &.posts-overview
            .post-item
                .image
                    padding-top: 60%

    .prefooter
        &>.container>.row>.col-md-6:nth-child(1)>h2,
        &>.container>.row>.col-md-6:nth-child(1)>h3
            padding-left: 60px !important

        h2.primary-color,
        h3.primary-color
            color: #fff
            margin: 0 !important
            border-left: 5px solid #1bb7e9
            background-color: #4f4f4f
            padding-top: 10px !important
            padding-bottom: 10px
            padding-left: 10px !important
            padding-left: 30px !important
            border-left: 0
            position: relative

            &:before
                content: ''
                background-color: $primary-color
                width: 5px
                position: absolute
                left: 15px
                top: 10px
                bottom: 10px

        .bg-gray
            padding: 15px !important
            a
                h5
                    color: #4f4f4f !important
                    font-size: 24px
                    margin-bottom: 5px

                .sub-title
                    font-size: 20px
                    padding-bottom: 0

                .bold
                    color: #4f4f4f !important

    & > footer
        margin-top: 30px
        border-top: 50px solid $primary-color

        h4
            color: #fff
            margin-bottom: 30px



    .content-type
        font-weight: 700
        top: 20px

body .prefooter>.container>.row>.col-md-6:nth-child(1)>h2, body .prefooter>.container>.row>.col-md-6:nth-child(1)>h3
    padding-left: 30px !important
    border-left: 0
    position: relative

    &:before
        content: ''
        background-color: $primary-color
        width: 5px
        position: absolute
        left: 15px
        top: 10px
        bottom: 10px


.header .header-content.bg-black .article-options .bg-black
    background-color: transparent

body .dossiers-loop .dossier-item h3
    color: #fff

#filter-page
    padding-top: 50px

body .header .he6ader-content.bg-black .article-content-bar
    margin-bottom: -10px


.navigation.pagination,
.posts-pagination
    a,
    .page-numbers,
    button
        color: $primary-color

section.subscriptions-cta h2
    color: #fff

section.subscriptions-cta .subscription-holder .subscription-content-holder .subscription-btn .btn-primary
    background-color: $primary-color
    padding-right: 0

    &:after
        color: #000
        right: 0
        border-radius: 0
        background-color: $primary-color
        border: 0


nav
    .weather
        height: 135px !important
        width: 95px !important

        .weather-icon
            margin-top: 20px

#filter-page
    .filter-holder.sort
            border-bottom: 1px solid #BDBDBD




.dossiers-archive .bg-black
    background-color: #4f4f4f

.dossiers-archive .bg-black h3
    color: #fff

footer h4
    color: #fff


.tax-holder h4.primary-color
    color: #fff

.single
    section.postloop
        .bg-black
            color: #000 !important
            background-color: #f2f2f2

            span
                font-size: 18px

            p
                padding-bottom: 0
                margin-bottom: 10px
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
                overflow: hidden

.subscription-overview .subscription-cta a
    color: #1bb7e9

body section.multimedia .relative .content-title.absolute
    left: 0 !important
