//@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Nunito+Sans:wght@400;800&display=swap')
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Spectral&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;700&family=Spectral&display=swap')

html body
    font-family: 'Roboto', sans-serif

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        font-weight: 600

