footer
    ul
        list-style: none
        padding-left: 0

        li
            a
                color: white
                padding-left: 0!important
                padding-top: 0!important

                &:hover
                    color: $primary-color
                    font-weight: bold
