.header
    span
        &.date-holder
            margin-right: 8px

        &.read-time
            margin-right: 8px

        &.author
            margin-right: 8px

            i
                margin-right: 3px

    .header-image
        height: 70vh
        min-height: 600px

        .read-more
            font-family: "Exo", sans-serif
            font-size: 17px

        .read-more-mob
            display: none
            font-size: 17px

        .content-type
            position: absolute
            margin-left: 0

        @media (max-height: 850px)
            .read-more-mob
                display: inline-block

    .remove-top-space
        margin-top: -6rem

    .blackbox
        margin-top: 0

        a
            bottom: 0
            left: 0
            max-width: 455px

        .header-content
            min-height: 70vh

            hr
                display: none

    .header-content
        &.bg-black
            background-color: $primary-color !important

            .article-top-bar
                .article-options
                    display: flex
                    flex-direction: row
                    flex: 1
                    padding: 10px
                    background-color: $primary-color

                    .text-start
                        .bg-black
                            background-color: $primary-color !important
                            font-weight: 700
                            color: #4f4f4f

                    .text-end
                        .bg-black
                            background-color: $primary-color !important
                            color: #fff !important


        .article-content-bar
            background-color: #f2f2f2
            border-top: 5px solid #4f4f4f
            color: #4f4f4f
            margin-left: -30px
            width: calc(100% + 60px)
            margin-top: -10px
            padding-top: 10px
            padding-left: 35px
            padding-bottom: 1px
            margin-bottom: -10px
            padding-right: 35px


            p
                font-weight: 500 !important


            .post-meta-holder
                font-weight: 700

            .tax-holder
                h2
                    &.primary-color
                        color: #777

            hr
                border-top: 1px solid rgba(255, 255, 255, 0.2)

            .text-start
                display: flex
                flex-direction: column
                flex: 1
                color: $primary-color

                span
                    &.bg-white
                        background-color: black !important
                        color: $primary-color

                i
                    margin-right: 5px
                    color: $primary-color

            .text-end
                display: flex
                flex: 1
                justify-content: flex-end

                span
                    &.bg-white
                        background-color: black !important
                        color: white

                    &:first-of-type
                        margin-right: 15px

                    i
                        margin-right: 5px

@media (max-width: 1400px)
    .header
        .blackbox
            margin-top: 0

@media (max-width: 1200px)
    .header
        .blackbox
            margin-top: 0

.navbar-light div > ul > li > a:hover
    background-color: $primary-color

.is-favorite
    color: $primary-color

@media (max-width: 575px)
    .header-content
        position: relative !important
        margin-bottom: 20px

