nav
  font-family: "Times New Roman", sans-serif

  .weather
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    width: 100px
    height: 100%
    border: 0
    margin-top: -11px
    padding-bottom: 30px
    position: absolute
    height: 137px
    right: 50px
    top: 0

    .weather-icon
      margin-top: 20px

    .current-weather
      margin-bottom: 20px

  &.bg-light
    background-color: #FFF!important

.logo-row
  background-color: #4f4f4f
  border-bottom: 0

  .vertical-middle
    justify-content: space-around

.user-items
  display: flex
  justify-content: flex-end
  margin-right: 7em

  @media (max-width: 576px)

  i
    color: $primary-color
    font-weight: bold
    margin-right: 10px
    margin-left: 10px
    font-size: 1.5em

.form-inline
  display: -webkit-box
  .btn
    &.btn-outline-regular
      border: 1px solid gray
      border-top-left-radius: 0
      border-bottom-left-radius: 0

      i
        margin-right: 10px

  .form-control
    width: 75%
    border-top-right-radius: 0
    border-bottom-right-radius: 0
