section.multimedia
    & > .container
        & > .row
            & > .col-md-8
                & > .row
                    &:first-of-type
                        h5
                            font-size: 26px

                    &:nth-child(3)
                        & > .relative
                            height: 100%



    .relative
        & > a
            display: inline-block
            width: 100%
            height: 100%

            .image-media
                height: 100%
                padding-top: 60%
                position: relative

        .content-title
            &.absolute
                bottom: 20%
            span
                -ms-word-break: break-word
                word-break: break-word
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden

    .image-media
        flex: 0 0 66.6666666667%
        width: 66.6666666667%
        height: 100%
        padding-top: 0
        position: relative

    .content-type
        color: #fff

    .content-holder
        flex: 0 0 33.3333333333%
        width: 33.3333333333%
        height: 100%

        h5
            margin-bottom: 0

    @media all and (max-width: 992px)
        .image-media
            flex: 0 0 50%
            width: 50%
            height: 100%
            padding-top: 0

        .content-holder
            flex: 0 0 50%
            width: 50%
            height: 100%

    @media all and (max-width: 576px)
        .image-media
            flex: 0 0 100%
            width: 100%
            height: 100%
            padding-top: 0

        .content-holder
            flex: 0 0 100%
            width: 100%
            height: 100%

    p
        font-family: "Roboto", sans-serif
