.newsletter
  background-color: #1bb7e9

  .title
    color: #222
    font-size: 22px
    font-weight: 500
    background-color: #E0E0E0
    margin-top: -40px
    padding: 12px
    box-shadow: 200px 0 0 #E0E0E0, 400px 0 0 #E0E0E0, 600px 0 0 #E0E0E0, 800px 0 0 #E0E0E0, 1000px 0 0 #E0E0E0, -200px 0 0 #E0E0E0, -400px 0 0 #E0E0E0, -600px 0 0 #E0E0E0, -800px 0 0 #E0E0E0, -1000px 0 0 #E0E0E0
