section
  &.quote
    span
      font-size: 3em

  &.wp-block-newheap-blocks-quote

    content: "\2018"
    font-size: 5em
    font-family: 'Spectral'


    &.quote
      span
        &.quote-holder
          color: #4F4F4F
