.sub-header
  form
    &.search-holder
      .select-holder
        select
          border-radius: 0

        &:after
          border-top: 13px solid $primary-color

      button
        &.btn-outline-regular
          font-weight: 400
          border-radius: 0
          border-color: transparent
          border-left: none
          font-size: 18px
          position: absolute
          top: 0
          right: 16px
          bottom: 0
          transition: all .3s

          i
            color: $primary-color

      input
        &.search-input
          padding-left: 15px
          font-size: 22px
          height: 44px
          border-radius: 0