.subscription
    .section-title
        h3
            color: #fff
            margin-bottom: 0

        &.first-section-title
            &:after
                left: 105px

                @media (max-width: 1199px)
                    left: 90px

                @media (max-width: 991px)
                    left: 70px

                @media (max-width: 767px)
                    left: 15px
