.section-title
  color: #fff
  border-left: 5px solid #1bb7e9
  background-color: #4f4f4f
  padding-top: 10px
  padding-bottom: 10px
  border-left: 0
  position: relative
  font-size: 30px
  padding-left: 35px
  margin-bottom: 10px
  margin-top: 50px

.section-title:after
    content: ""
    background-color: #1bb7e9
    width: 5px
    position: absolute
    left: 15px
    top: 10px
    bottom: 10px

.alt-title
  color: #1bb7e9
  font-weight: bold
  font-size: 25px
  margin-top: 50px

.sub-title
  color: #1bb7e9
  font-weight: bold
  font-size: 25px

.container > .section-title:before, .main > .container > .row > .col-md-12 > .section-title:before
  width: 200vw
  left: -100vw
  top: 0
  display: block
  content: " "
  background-color: #4f4f4f
  position: absolute
  z-index: -1
  height: 100%


/** ARTICLES **/
.article-item .excerpt
  font-family: "Crimson Text",serif
  font-size: 20px
  color: #000
  margin-top: 5px

.article-item
  border-color: #bdbdbd
  border-bottom-style: solid
  border-bottom-width: 1px

.article-item .sub-title
  color: #4f4f4f

.article-item .meta-holder
  color: #4f4f4f
  font-weight: bold

.premium-label
  background-color: #1bb7e9
  color: #fff
  padding: 5px 20px
  font-weight: bold

/** BUTTONS **/
.cta-1, .cta-2
  color: #fff
  background-color: #4f4f4f
  padding: 5px 20px
  font-weight: bold
  transition: transform 0.5s
  display: inline-block

.cta-2
  background-color: #1bb7e9

.cta-1:hover, .cta-2:hover
  color: #fff
  transform: scale(1.05)

.cta-1:after, .cta-2:after
  font-family: "Font Awesome 5 Free"
  content: ""
  font-size: 20px
  display: inline-block
  margin-left: 20px
  vertical-align: middle
  margin-top: -2px
  color: #fff


.link-block-1, .link-block-2
  color: #000
  padding: 5px 0
  font-weight: bold
  transition: transform 0.5s
  display: inline-block

.link-block-1:hover, .link-block-2:hover
  transform: scale(1.05)
  color: #000

.link-block-1:after
  font-family: "Font Awesome 5 Free"
  content: ""
  display: inline-block
  margin-left: 20px
  vertical-align: middle
  font-size: 26px
  margin-top: -2px
  color: #000

.link-block-2:after
  font-family: "Font Awesome 5 Free"
  content: "\f078"
  display: block
  margin: 0 auto
  text-align: center
  font-size: 26px
  color: #000
