article.article section.image-holder,
section.image-holder
    margin-top: 50px
    margin-bottom: 50px
    border-bottom: 1px solid black
    padding-bottom: 25px

    .image-title
        color: #000
        font-size: 1.3rem
        font-weight: 700
        margin-top: 15px

        &:before
            content: ''
            font-size: 1.2rem
            display: inline-block
            margin: 0
