#registration-form
    .gender-select
        & > label
            font-weight: 700

        span
            label
                display: block
                width: 100%

    input[type=radio]
        width: 15px
        height: auto
        outline: none
        display: inline

    input[type=checkbox]
        width: 15px
        height: auto
        display: inline

#profile-page
    .heading
        font-weight: bold

    .question, .head-alt strong
        font-weight: bold

.logout-btn
    color: #000
    text-decoration: underline
    float: right

    &:hover
        color: #000
        text-decoration: underline

.login-page
    padding-top: 15px
