.google-ad-holder
    .ad-title
        color: #7f7f7f
        font-size: 18px
        font-weight: 700
        text-align: center
        margin-bottom: 10px

    .ad-holder
        background-color: #ccc
        display: inline-block
