body
    article.article
        &.legacy-post
            .legacy-post-content
                font-size: 21px
                font-family: "Crimson Text", serif

        h1,
        h2,
        h3,
        h4,
        h5,
        h6
            margin-top: 2.5rem


        .col-md-8
            p
                width: auto
                text-align: left

        .wp-block-column

            @media (min-width: 600px)
                & + .wp-block-column
                    & > .wp-block-newheap-blocks-one-col-image
                        position: relative

                        &:after
                            content: ''
                            height: 2px
                            width: 50px
                            background-color: #ccc
                            position: absolute
                            bottom: -2px
                            left: -50px

        iframe
            @media (min-width: 1200px)
                max-height: none
                max-width: calc(100% + 400px)
                width: calc(100% + 400px) !important
                margin-left: -200px
                margin-right: -200px

        .ad-between-posts
            iframe
                @media (min-width: 1200px)
                    width: auto !important

        .banner-leaderboard
            iframe
                @media (min-width: 1200px)
                    width: 100% !important

        @media (min-width: 480px)
            h1
                font-size: 2em

.site-id-2 .legacy-post-content
        h1,
        h2,
        h3,
        h4,
        h5,
        h6
            font-family: "Nunito Sans", Arial,sans-serif

.wp-block-post-excerpt
    display: none !important
