body
    font-size: 18px
    overflow-x: hidden

img
    max-width: 100%

p
    &:empty
        display: none !important
.mt-0
    margin-top: 0 !important

[data-favorite-click]
    cursor: pointer

.main
    overflow-x: hidden

.card
    border: 0

.card-body
    background-color: #efffed

.m-btn-w
    width: 330px

.page-template-default h1.fw-header
    padding-top: 10px

.navbar-light .menu-item-has-children
    max-height: 26px

#menu-item-30659.menu-item-has-children > a,
#menu-item-5461.menu-item-has-children > a,
#menu-item-5459.menu-item-has-children > a,
#menu-item-33952.menu-item-has-children > a
    padding-right: 40px !important
    min-width: 235px

#menu-item-30659.menu-item-has-children > .sub-menu,
#menu-item-5461.menu-item-has-children > .sub-menu,
#menu-item-5459.menu-item-has-children > .sub-menu,
#menu-item-33952.menu-item-has-children > .sub-menu
    width: 235px


#menu-item-30659.menu-item-has-children > a::after
    content: ""
    width: 0
    height: 0
    border-top: 12px solid #000
    margin: 10px auto
    border-left: 8px solid transparent
    border-right: 8px solid transparent
    display: block
    position: absolute
    top: 8px
    left: 100px

.overflow-hidden
    overflow: hidden
#menu-item-5461.menu-item-has-children > a::after,
#menu-item-5459.menu-item-has-children > a::after,
#menu-item-33952.menu-item-has-children > a::after
    font-family: 'Font Awesome 5 Free'
    content: "\f078"
    margin-top: 5px
    font-size: 23px
    display: block
    top: 0
    position: absolute
    left: 100px
    color: #000
    font-weight: 600

.abbo-blocks .wp-block-column
    background-color: #efffed
    padding: 30px 30px 40px 30px
    position: relative


.abbo-blocks .a-button
    position: absolute
    bottom: 0
    right: 30px

.legacy-post h2
    margin: 20px 0

@media (min-width: 991px)
    .btn-close-mobile-filters
        display: none
