.btn
    &.btn-primary
        color: #000
        font-size: 18px
        font-weight: 700
        padding-right: 25px
        background-color: transparent
        border: 0
        position: relative

        &:after
            content: ''
            width: 0
            height: 0
            border-top: 8px solid transparent
            border-bottom: 8px solid transparent
            border-left: 15px solid #000
            position: absolute
            top: 50%
            right: 0
            transform: translateY(-50%)

.a-button a
    font-weight: bold
    color: #000
    font-size: 18px

.gform_button
    border: 0
    background-color: transparent
    font-weight: bold
    color: #000
    font-size: 18px
    padding: 0
    padding-right: 30px

.gform_footer::after
    content: ""
    width: 0
    height: 0
    border-top: 8px solid transparent
    border-bottom: 8px solid transparent
    border-left: 12px solid #000
    margin-top: 3px
    display: inline-block
    margin-left: -30px
    margin-bottom: -2px
    pointer-events: none

.gform_footer
    margin-top: 0 !important

.gfield_label
    margin-bottom: 0
