.wp-block-cb-carousel.slick-slider
    width: calc(100vw - 15px)
    margin: 50px 0 75px
    position: relative
    left: 50%
    transform: translateX(-50%)

    .slick-arrow
        background-color: rgba(0, 0, 0, .5)
        width: 100px
        height: 100px
        z-index: 1
        display: flex
        justify-content: center
        align-items: center

        &.slick-disabled
            display: none

        &:before
            font-family: "Font Awesome 5 Free"
            font-weight: 900
            -moz-osx-font-smoothing: grayscale
            -webkit-font-smoothing: antialiased
            display: inline-block
            font-style: normal
            font-variant: normal
            text-rendering: auto
            line-height: 1
            color: #000
            font-size: 40px
            display: flex
            justify-content: center
            align-items: center
            background-color: #fff
            width: 60px
            height: 60px
            border-radius: 50%
            opacity: 1

        &.slick-prev
            left: 0

            &:before
                content: '\f053'

        &.slick-next
            content: '\f054'
            right: 0

            &:before
                content: '\f054'

        @media (max-width: 767px)
            width: 50px
            height: 50px

            &:before
                font-size: 22px
                width: 35px
                height: 35px


    .slick-track
        display: flex

    .wp-block-cb-slide.slick-slide
        height: inherit
        position: relative
        overflow: visible
        padding: 0 30px

        .wp-block-newheap-blocks-one-col-image
            margin-left: 0
            margin-right: 0
            border-bottom: 0

        &.slick-active
            &:after
                content: ''
                position: absolute
                top: 0
                right: -2px
                bottom: 0

    .slick-dots
        display: flex
        justify-content: center
        bottom: -75px

        li
            button
                &:before
                    content: none
            &.slick-active
                button

    @media (min-width: 768px)
        width: calc(100vw - 45px)
        overflow: hidden

        .slick-list
            width: calc(125vw - 15px)
            left: 50%
            transform: translateX(-50%)
