body.page-template-template-category-archive
    .dossiers-holder
        @media (max-width: 767px)
            display: none

    .post-item
        .col-md-3,
        .col-md-4
            overflow: hidden

            &.relative
                & > div
                    height: 100%
                    overflow: hidden

                & > .relative
                    .content-type
                        top: 30px
                        left: 0

        .image-holder
            background:
                size: cover
                position: center
            height: 100%
            transition: all .5s

        h3
            margin-bottom: 5px !important

        .meta-holder
            div
                display: inline-block
                margin-right: 10px

                &:after
                    content: ''
                    width: 2px
                    height: 12px
                    background-color: #000
                    display: inline-block
                    position: relative
                    top: 1px
                    right: -8px

                &:last-child
                    &:after
                        content: none

        p
            font-family: "Crimson Text", serif
            font-size: 20px

            @media (max-width: 1199px)
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
                overflow: hidden
                padding-bottom: 0

        &:hover
            .image-holder
                transform: scale(1.1)
