section.categories
    a.post-item
        overflow: hidden
        display: block
        margin-bottom: 8px

        .image-media
            .image-holder
                background:
                    size: cover
                    position: center
                height: 100%
                position: absolute
                top: 0
                right: 0
                bottom: 0
                left: 0
                z-index: -1
                transition: all .6s

        h5
            margin-bottom: 0
            overflow: hidden
            text-overflow: ellipsis

        &:hover
            .image-media
                .image-holder
                    transform: scale(1.1)
