body.single section.kennispartners .container,
body.page-template-template-poll-archive .container,
.container-fluid
    max-width: 1920px
body.home
    .container-xl, .container-lg, .container-md, .container-sm, .container
        width: 1920px
        max-width: 100%

.main-wrapper
    & > .navbar .container,
    & > .logo-row .container,
    & > .sub-header .container
        width: 1920px
        max-width: 100%

body.single section.kennispartners
    .title-holder
        .container
            max-width: 100%

body > footer
    .container
        width: 1920px
        max-width: 100%

section
    .section-title
        .container
            width: 1920px
            max-width: 100%

        h2,
        h3
            @media (min-width: 768px)
                padding-left: 60px


