.dossiers-grid
    .dossier-item
        display: block
        height: 100%
        padding-bottom: 30px

        img
            height: 70%
            object-fit: cover

        .meta-holder
            color: #fff
            background-color: #000
            height: 55px
            padding: 15px

            h3
                color: #fff
                font-size: 20px
                white-space: nowrap
                text-overflow: ellipsis
                overflow: hidden
                margin: 0
