.sidebar
    .section-title
        color: $primary-color

    .toggle-holder
        color: #000
        display: inline-block
        cursor: pointer

        label
            cursor: pointer

        .fas
            display: none

        &.checked
            font-weight: 700

            .fas
                display: inline
    a:hover
        color: #000

section.favorites


    .image-holder
        transition: all .5s

    a:hover .image-holder
        transform: scale(1.1)

    .nh-posts-loop-holder
        a.post-item
            position: relative
            padding-right: 15px

        .delete-favorite
            color: #000
            background-color: transparent
            padding: 0
            border: 0
            position: absolute
            top: 0
            right: 0
            z-index: 10

span[data-favorite-click]
    .far
        display: inline

    .fas
        display: none

    &.is-favorite
        .far
            transition-delay: 3s
            display: none

        .fas
            transition-delay: 3s
            color: $primary-color
            display: inline
