#filter-page
    .col-lg-3
        .btn-open-mobile-filters
            color: #fff
            display: none
            padding: 5px 15px
            margin: 15px 0
            background-color: $primary-color
            border: 0

            @media (max-width: 991px)
                display: block

        .btn-close-mobile-filters
            color: $bodyColor
            font-size: 30px
            line-height: 20px
            background-color: transparent
            border: 0
            padding: 0
            position: absolute
            top: 30px
            right: 15px



    .filters-holder
        position: relative

        @media (max-width: 991px)
            display: none

            &.mobile-active
                display: block

            .overflow-holder
                max-height: 90vh
                overflow: auto
                padding-bottom: 30px



    .dossiers-holder
        .dossier-item
            a
                display: inline-block
                width: 100%
                position: relative
                overflow: hidden

                &:hover
                    .dossiers-image-holder
                        transform: scale(1.1)


        .dossiers-image-holder
            background:
                size: cover
                position: center
            position: relative
            z-index: -1
            transition: all .6s
