@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Nunito+Sans:wght@400;800&display=swap')

html body
    font-family: "Nunito Sans", Arial, sans-serif

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        font-weight: 800

@media (max-width: 576px)
    h1,
    .h1
        font-size: 31px

    h2,
    .h2
        font-size: 24px

    h3,
    .h3
        font-size: 22px

    h4,
    .h4
        font-size: 19px

    h5,
    .h5
        font-size: 17px

    h6,
    .h6
        font-size: 15px

