section.prefooter
    //.bg-gray
        a
            .sub-title
                display: block

            .sub-title-mobile
                display: none

            @media (max-width: 991px)
                .sub-title
                    display: none

                .sub-title-mobile
                    display: block

    @media (max-width: 767px)
        .see-more
            margin-bottom: 50px !important

//section.footer-contact-bar
    .checklist-holder.checklist
        li
            font-size: 2.1rem
            font-weight: 600

//#top-footer
    .footerbarinfo-column
        p
            padding-bottom: 0

    @media (max-width: 1199px)
        .footerbarinfo-column
            flex: 0 0 auto
            width: auto
            max-width: none

            p
                font-size: 1.2rem

    @media (max-width: 991px)
        display: none

//footer
    font-size: 1.3rem

    p
        font-size: 1.3rem

    .socials-holder
        display: flex
        flex-wrap: wrap
        justify-content: flex-end

        .social-icon
            flex: 0 0 auto
            padding: 0 5px

            a
                color: $bodyColor
                text-decoration: none
                background-color: #fff
                display: flex
                justify-content: center
                align-items: center
                width: 35px
                height: 35px
                border-radius: 50%
                transition: all .3s

                &:hover
                    transform: scale(1.1)

