form
    ul.errors
        color: #fff
        font-size: 14px
        font-weight: 300
        background-color: red
        padding: 5px 10px
        margin: 10px 0 0

        li
            list-style-type: none
