nav.navbar
    .logo-holder
        display: none

        @media (max-width: 991px)
            display: flex
            width: 50vw
            margin: 10px 0 10px 15px

        @media (max-width: 767px)
            width: 75vw

.logo-row
    padding: 30px 0
    border-bottom: 2px solid $primary-color


    .logo-holder
        max-width: none
        height: 100%

        & > a
            height: 100%
            display: flex
            align-items: center

            img
                margin-top: 0
                max-width: 450px

                @media (max-width: 767px)
                    max-width: 300px

                @media (max-width: 480px)
                    max-width: 225px

    .user-items
        margin-left: 0

        .user-item-notifications
            display: none

        @media (max-width: 991px)
            margin-right: 0

    @media (max-width: 991px)
        padding: 15px 0

        [name="category"], [name="search"], .select-holder
            width: 100%

        .logo-holder
            display: none

.header
    position: relative
    
    .header-image
        position: relative

        .content-type
            top: 30px
            left: 0

            @media (min-width: 768px)
                font-size: 20px
                display: flex
                align-items: center
                margin-left: -16px
                margin-bottom: 12px

    .blackbox
        margin-top: 0
        position: initial

        a
            position: absolute
            left: calc(50% - 570px + 15px)
            bottom: 30px
            width: 100%
            max-width: 555px


            @media (min-width: 1200px)
                left: calc(50% - 600px + 15px)
                max-width: 570px

                h2
                    font-size: 48px

                p
                    font-size: 20px


            @media (min-width: 1500px)
                left: calc(50% - 675px + 15px)
                max-width: 650px

                h2
                    font-size: 48px

                p
                    font-size: 20px

            @media (max-width: 1199px)
                left: calc(50% - 480px + 15px)
                max-width: 465px
                //left: calc(50% - 480px)

            @media (max-width: 991px)
                left: calc(50% - 360px + 15px)
                max-width: 650px
                //left: calc(50% - 360px)

            @media (max-width: 767px)
                bottom: 0
                left: 0

            @media (max-width: 575px)
                position: static
                margin: 30px 0
                display: inline-block

    .header-image
        background-size: cover
        background-position: center

    .header-content
        &.bg-black
            font-size: 20px
            width: calc(100% + 90px)
            left: 50%
            position: relative
            transform: translateX(-50%)
            margin-bottom: 50px

            @media (max-width: 576px)
                left: 0
                width: 100%
                transform: none
                position: relative
                margin-bottom: 0

                h1
                    font-size: 35px

            hr
                border-color: rgba(255, 255, 255, .5)
                margin-left: -48px
                margin-right: -48px

            p
                font-family: "Nunito Sans", Arial, sans-serif
                font-weight: 700
                font-size: 20px

        &.bg-white
            padding-left: 0 !important
            padding-right: 0 !important

            @media (max-width: 576px)
                position: relative

            p
                font-family: "Nunito Sans", Arial, sans-serif
                font-weight: 700

        p
            font-family: "Crimson Text", serif

        .post-meta-holder
            font-size: 20px
            margin: 30px 0
            display: block

            @media (max-width: 576px)
                font-size: 15px

        @media (max-width: 575px)
            bottom: 0
            position: absolute
            
            h2
                font-size: 26px !important

.weather-icon
    height: 50px
    width: 100%
    background-size: contain
    background-position: 50% 20%
    background-repeat: no-repeat
    filter: grayscale(1)

.current-weather
    line-height: 1.1
    margin-top: 0 !important

    .weather-text
        font-size: 12px
        font-family: "Nunito Sans", Arial, sans-serif
        font-weight: 300
        line-height: 12px !important
        display: inline-block

    .celsius
        font-size: 20px

nav
    .weather
        right: 15px
        padding: 0 5px 10px !important
        width: 95px !important
        height: auto !important
        min-height: 123px

        .weather-icon
            margin-top: 15px

        @media (max-width: 1750px)
            min-height: 110px

        @media (max-width: 991px)
            display: none

body.single
    .header
        &:not(.premium-article)
            .header-image
                max-width: 70%
                margin: auto

                @media (max-width: 1199px)
                    max-width: 95%

        .header-image
            img
                object-fit: cover
                min-height: 70vh
                max-height: 70vh


@media (max-width: 767px)
    .site-id-2 .header .header-image .content-type
        margin-bottom: 10px
        margin-left: -16px

.site-id-2 .header .header-content.bg-black
    padding-top: 10px !important
    margin-top: -7rem !important

.header .article-options .text-end span:first-of-type
    cursor: pointer

