ul
  &.slick-dots
    padding-left: 0
    margin: 0 auto
    text-align: center
    margin-top: 1.5rem
    margin-bottom: 1.5rem
    list-style: none
    display: inline-flex

    li
      margin-right: 5px
      button
        height: 15px
        width: 15px
        background-color: white
        border: 1px solid gray
        border-radius: 50%

      &.slick-active
        button
          height: 15px
          width: 15px
          background-color: black
          border: 1px solid black
          border-radius: 50%