section.multimedia
    & > .container
        & > .row
            & > .col-md-8
                & > .row
                    &:first-of-type
                        h5
                            font-size: 26px

                    &:nth-child(3)
                        & > .relative
                            height: 100%
    .relative
        & > a
            display: inline-block
            width: 100%
            height: 100%
            position: relative

            .image-media
                height: 100%
                padding-top: 60%
                position: relative
                background-size: 110% !important

                &:hover
                    background-size: 120% !important


                .content-title
                    position: absolute
                    left: 0
                    right: 0
                    bottom: 0

                    h5
                        display: flex
                        align-items: center
                        min-height: 78px
                        margin: 0
                        padding: 15px 30px !important

                        .fas
                            font-size: 30px
                            margin-right: 10px

                        span
                            display: -webkit-box
                            -webkit-line-clamp: 2
                            -webkit-box-orient: vertical
                            overflow: hidden

        a.more-button
            display: block
            height: auto
            width: auto
            margin-bottom: 20px
    p
        font-family: "Crimson Text", serif

    .col-md-4.column
        a
            display: inline-block
            width: 100%
            overflow: hidden

            .column-image-holder
                transition: all .6s
                position: relative
                z-index: -1

            &:hover
                .column-image-holder
                    transform: scale(1.1)

