#navbarNavDropdown
    ul
        li
            a
                color: #000
                font-size: 18px
                padding: 5px 15px
                position: relative

            .sub-menu
                margin: 0
                padding: 0

                li
                    list-style-type: none
                    background-color: #fff
                    border: 2px solid #D7D7D7
                    border-top: 0

                    a
                        white-space: nowrap
                        padding: 5px 30px
                        display: inline-block
                        width: 100%
                        position: relative

                        &:before
                            content: ''
                            display: inline-block
                            width: 10px
                            height: 10px
                            background-color: #A01213
                            border-radius: 50%
                            position: absolute
                            left: 13px
                            top: 50%
                            transform: translateY(-50%)

                    &:nth-child(1)
                        border-top: 2px solid #D7D7D7

                    &.landbouwmechanisatie
                        a
                            &:before
                                background-color: #50B848

                    &.veehouderijtechniek
                        a
                            &:before
                                background-color: #1bb7e9

                    &.tuinenparktechniek
                        a
                            &:before
                                background-color: #FFED00


            @media (min-width: 992px)
                position: relative

                &:first-of-type
                    a
                        padding-left: 0

                .sub-menu
                    display: none
                    padding: 0
                    margin: 0
                    position: absolute
                    top: 44px
                    left: 0
                    z-index: 1

                &:hover
                    .sub-menu
                        display: inline-block

            @media (max-width: 991px)
                .sub-menu
                    width: 100% !important

                    li
                        border: 0



@media (max-width: 991px)
    nav.navbar
        padding: 15px 0

    .navbar-toggler
        margin: auto 15px auto auto
        border-radius: 0
        border: 0
        position: relative
        width: 20px
        height: 20px

        span
            height: 3px
            width: 20px
            background-color: #000
            display: block
            position: absolute
            left: 0
            transition: all .3s

            &:nth-child(1)
                top: 8px
                transform: rotate(45deg)

            &:nth-child(2)
                width: 0

            &:nth-child(3)
                top: 8px
                transform: rotate(-45deg)

        &.collapsed
            span
                transform: none

                &:nth-child(1)
                    top: 0

                &:nth-child(2)
                    top: 8px
                    width: 20px

                &:nth-child(3)
                    top: 16px



    #navbarNavDropdown
        .navbar-nav
            margin-top: 10px

            @media (max-width: 991px)
                overflow: auto

        li
            a
                padding: 5px 15px
                display: inline-block
                width: 100%

nav.bg-light
    padding: 0

.navbar-light div > ul > li > a
    padding: 10px 15px !important
    display: inline-block


.navbar-light div > ul > li > a:hover
    background-color: #51ad31

.navbar-light .menu-item-has-children ul a:hover
    background-color: #d7d7d7
