.newsletter
  background-color: #50B848
  padding: 40px 0
  .fas
    font-size: 5em
    color: #fff
    display: block
    float: left
    margin-right: 50px
  .title
    font-size: 1.1em
    font-weight: bold
    margin-bottom: 20px
    color: #000
  .newsletter-input
    border: 0
    padding: 10px 20px
    width: 100%
    margin-right: 40px

    @media (max-width: 578px)
      margin-right: 0

  .see-more
    padding: 10px 20px !important
    width: 100%
    max-width: 205px
    background-color: black
    color: #fff !important
    display: inline-block
    cursor: pointer
  .see-more .arrow-right
    border-left: 12px solid #fff
    margin-top: 6px
  .btn-col
    min-width: 205px

  @media (max-width: 991px)
    .btn-col
      padding-left: 0
      margin-top: 10px

  @media (max-width: 767px)
    .col-12
      padding: 5px 0
    .title
      display: block
      width: 100%
      margin-bottom: 20px

  @media (max-width: 544px)
    .col-12
      padding: 5px 15px !important

    .newsletter
      .title
        display: inline-block
        width: 100%
        margin-bottom: 20px
        margin-top: 40px
