.nh-tile-holder
    display: flex
    flex-wrap: wrap
    margin-left: -2.5px
    margin-right: -2.5px

    .nh-tile
        flex: 0 0 50%
        width: 50%
        padding: 2.5px

.bgi
    padding-bottom: 67% !important


.bgi
    padding-bottom: 67% !important

