.dem-copyright
    display: none

input[type=submit].dem-button, a.dem-button, .dem-button
    color: #000
    font-weight: bold
    padding-left: 0 !important
    text-transform: none

    &hover
        background: transparent
        color: #000

.dem-link
    width: auto !important
    color: #000

.dem-poll-shortcode, .dem-bottom
    margin-bottom: 0

.dem-poll-title
    margin-top: 0
