section.postloop
    .nh-tile-holder
        display: flex

        .nh-tile
            flex: 0 0 25%
            width: 25%
            padding-left: 2px
            padding-right: 2px

            h2
                font-size: 24px
                min-height: 56px
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden

            p
                font-family: "Crimson Text", serif
                margin: 0
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
                overflow: hidden


    @media (max-width: 1020px)
        .nh-tile-holder
            display: flex
            .nh-tile
                flex: 0 0 50%
                width: 50%

    @media (max-width: 768px)
        .nh-tile-holder
            display: flex
            .nh-tile
                flex: 0 0 100%
                width: 100%

    .postloop-image-holder
        position: relative
        overflow: hidden
        
        .image-holder
            background:
                size: cover
                position: center
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            transition: all .6s

        &:hover
            .image-holder
                transform: scale(1.1)
