.nh-posts-loop-holder
    a
        color: #000

        .image-holder
            height: 100%

            .image
                height: 100%
                background:
                    size: cover
                    position: center
