.restricted-content
    position: relative
    margin-bottom: 50px

    &:after
        height: 100%
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, .01), rgba(255, 255, 255, 1) 95%)
        content: ''
        position: absolute
        left: 0
        right: 0
        bottom: 0

.premium-article-popup
    text-align: center
    background-color: #efefef
    max-width: 500px
    margin: 50px auto
    padding: 30px 30px 80px
    position: relative

    p
        text-align: center !important

    .premium-article-popup-footer
        font-size: 18px
        font-family: "Crimson Text", serif
        background-color: $primary-color
        padding: 10px 30px
        position: absolute
        left: 0
        right: 0
        bottom: 0

        a
            color: #000
            font-weight: 700
