body
    .kennispartners .image-partner .content-type
        left: 15px

    .kennispartners .image-partner h5
        min-height: 64px
        display: flex
        align-items: center
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        overflow: hidden
        margin-bottom: 0

    .image-holder
        padding-bottom: 0%

    .posts-loop,
    .author-posts
        a
            color: #000

    .posts-loop
        .image-holder
            @media (max-width: 767px)
                padding-bottom: 56.25%

    .see-more
        a
            color: #000

    .dossiers
        h2,
        h5
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

        h2
            font-size: 24px

        a
            color: #000

    .prefooter
        .bg-gray
            a
                color: #000

    .dossiers-loop
        .dossier-item
            h3
                font-size: 24px
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis

                @media (max-width: 1199px)
                    font-size: 20px

    .social-share
        font-size: 20px
        font-weight: 700

        i
            font-size: 30px
            display: block

    .article-tags
        font-size: 20px
        margin: 40px 0 30px

    &.page-template-template-type-archive
    &.page-template-template-multimedia-archive
        .author-posts
            .image-holder
                height: 100%
                position: relative
                overflow: hidden

                .image
                    background:
                        size: cover
                        position: center
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0
                    transition: all .6s

            a.dotted-bottom-black
                &:hover
                    .image
                        transform: scale(1.1)

    footer.primary-background
        a
            &:hover
                color: #fff
                text-decoration: underline

a:hover .bg-image
    transform: scale(1.05)

.bg-image
    width: 100%
    height: 100%
    background-size: cover
    background-position: center
    padding-top: 67%
    transition: transform 0.5s

.magazines-archive .bg-black h3
    color: #fff

.tax-partner .meta-holder
    display: none

.tax-partner .ad-between-posts
    display: none
