section
    &.recent-items
        &.related
            .nh-tile-holder
                .nh-tile
                    a
                        .tile-image-holder
                            width: 100%

                        .tile-content-holder
                            width: 100%

section.recent-items
    .nh-tile-holder
        display: flex
        flex-wrap: wrap

        .nh-tile
            flex: 0 0 50%
            width: 50%
            padding: 2.5px

            a
                display: flex
                flex-wrap: wrap
                height: 100%

                .tile-image-holder,
                .tile-content-holder
                    flex: 0 0 50%
                    width: 50%
                    height: 100%

                .tile-image-holder
                    overflow: hidden
                    position: relative

                    .tile-image
                        height: 100%
                        width: 100%
                        background-size: cover
                        background-repeat: no-repeat
                        background-position: center
                        transition: all .6s

                    .content-type
                        top: 20px
                        left: 0
                        white-space: nowrap

                .tile-content-holder
                    color: #fff
                    background-color: #000
                    padding: 15px
                    border-left: dotted 5px #fff

                    h2
                        font-size: 30px

                        @media (max-width: 1600px)
                            font-size: 24px

                    p
                        font-family: "Crimson Text", serif
                        font-size: 19px

                &:hover
                    .tile-image
                        transform: scale(1.05)

        @media (max-width: 1250px)
            .nh-tile
                a
                    .tile-image-holder
                        flex: 0 0 33.3333%
                        width: 33.3333%
                    .tile-content-holder
                        flex: 0 0 66.6667%
                        width: 66.6667%

        @media (max-width: 991px)
            .nh-tile
                flex: 0 0 100%
                width: 100%

                a
                    .tile-image-holder
                        flex: 0 0 33.3333%
                        width: 33.3333%
                    .tile-content-holder
                        flex: 0 0 66.6667%
                        width: 66.6667%

        @media (max-width: 650px)
            .nh-tile
                a
                    height: auto

                    .tile-image-holder
                        flex: 0 0 100%
                        width: 100%

                        .tile-image
                            padding-top: 60%

                    .tile-content-holder
                        flex: 0 0 100%
                        width: 100%
                        border-top: 4px dotted #fff
                        border-left: 0


        @media (max-width: 576px)
            .nh-tile
                margin-bottom: 10px