body
    & > .scroll-to-top-holder
        position: fixed
        bottom: 75px
        right: 0
        opacity: 0
        visibility: hidden
        transition: all .3s

        &.active
            opacity: 1
            visibility: visible

        .scroll-to-top
            color: #fff
            background-color: rgba(0, 0, 0, .4)
            padding: 10px 15px
            border: 0
            border-radius: 5px 0 0 5px
