.sub-header
    form.search-holder
        select,
        input.search-input
            border-radius: 10px

        .select-holder
            display: inline-block
            position: relative

            @media (max-width: 576px)
                width: 100%

            &:after
                content: ''
                width: 0
                height: 0
                border-left: 7px solid transparent
                border-right: 7px solid transparent
                border-top: 13px solid #000
                position: absolute
                top: 50%
                right: 15px
                transform: translateY(-50%)
                pointer-events: none

            select
                padding: 5px 40px 6px 15px
                -webkit-appearance: none
                appearance: none
                position: relative
                border-color: #49505750
                cursor: pointer

                @media (max-width: 576px)
                    width: 100%

        .input-search-holder
            position: relative

            @media (min-width: 1200px)
                max-width: 500px

            @media (max-width: 575px)
                margin-top: 10px

        input.search-input
            font-family: "Crimson Text", serif
            font-size: 18px
            height: 40px

        button.btn-outline-regular
            font-weight: 400
            border-radius: 0 10px 10px 0
            border-color: #D7D7D7
            border-left: 1px solid #808080
            position: absolute
            top: 0
            right: 0
            bottom: 0
            transition: all .3s

            &:hover
                background-color: darken(#fff, 5)

            @media (max-width: 575px)
                margin: 0 !important
                background-color: white
