.search-item
    margin-bottom: 75px

    a
        color: inherit
        text-decoration: none

        h2
            margin-bottom: 15px

        &:hover

            .btn-circle--red
                .btn__icon
                    &:before,
                    &:after
                        transform: translateX(0)
