section
    .load-more
        font-size: 18px

    .load-more-btn
        .arrow-bottom
            border-left: 8px solid transparent
            border-right: 8px solid transparent

    .go-to-archive-btn
        display: none

        a
            color: #000

        .arrow-right
            float: none
            display: inline-block
            border-top: 8px solid transparent
            border-bottom: 8px solid transparent
            position: relative
            top: 3px
            left: 5px

    &.toggled
        .load-more-btn
            display: none

        .go-to-archive-btn
            display: block

    &.recent-items,
    &.kennispartners,
    &.newsletter,
    &.categories,
    &.tests
        margin-bottom: 50px !important

    &.posts-overview
        .post-item
            color: #000

            .col-md-3.relative
                & > .image-holder
                    overflow: hidden
                    height: 100%

            .image
                background:
                    size: cover
                    position: center
                display: block
                width: 100%
                height: 100%
                transition: all .5s

            .content-type
                top: 30px

            &:hover
                .image
                    transform: scale(1.1)

    &.dossiers
        h2
            font-size: 32px !important

        h5
            font-size: 24px

        .sub-title
            font-size: 18px

        .row
            & > .col-sm-12.col-md-4
                & > a
                    display: inline-block
                    width: 100%
                    overflow: hidden

                    .dossiers-image-holder
                        background:
                            size: cover
                            position: center
                        transition: all .6s
                        position: relative
                        z-index: -1

                    &:hover
                        .dossiers-image-holder
                            transform: scale(1.1)
    &.postloop
        h2
            min-height: auto

    &.kennispartners
        .image-partner
            position: relative
            overflow: hidden

            &:hover
                .image-holder
                    transform: scale(1.1)

            .content-type
                left: 0 !important

                span
                    padding-right: 50px !important

            .image-holder
                background:
                    size: cover
                    position: center
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                z-index: -1
                transition: all .6s

            .content-title
                padding-bottom: 20px
                background-color: transparent

                h5
                    background-color: rgba(255, 255, 255, .7)

    &.tests
        .image-media
            position: relative
            height: 100%

            .image-holder
                background:
                    size: cover
                    position: center
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                z-index: -1
                transition: all .6s

        .post-item
            display: block
            height: 100%
            width: 100%
            overflow: hidden

            &:hover
                .image-holder
                    transform: scale(1.1)

    &.author-posts
        .content-type
            left: 15px
            font-weight: 700

    &.author
        .mobile-up
            & > .author-image-holder
                margin-right: -15px
                height: 100%
                overflow: hidden

                .author-image
                    transition: all .3s

                @media (max-width: 767px)
                    margin-right: 0

        &:hover
            .author-image
                transform: scale(1.1)
