.slick-slider
    .slick-arrow
        background-color: $primary-color
        display: flex
        justify-content: center
        align-items: center
        width: 30px
        height: 30px
        border: 0
        border-radius: 4px
        position: absolute
        top: 50%
        z-index: 1

        &:before
            color: #fff
            font-family: "Font Awesome 5 Free"
            font-weight: 900
            -moz-osx-font-smoothing: grayscale
            -webkit-font-smoothing: antialiased
            display: inline-block
            font-style: normal
            font-variant: normal
            text-rendering: auto
            line-height: 1

        &.slick-prev
            left: -10px

            &:before
                content: '\f053'

        &.slick-next
            right: -10px

            &:before
                content: '\f054'
