.form-control
    font-size: 18px

.subscription
    .form-notifications
        .notification-error
            color: #fff
            background-color: red
            padding: 15px
            margin-bottom: 30px

    .form-holder
        font-weight: bold
        background-color: #f2f2f2

        a
            color: black
            text-decoration: underline

        .form-group
            select
                width: 100%
                border-color: #9e9e9e73
                border-radius: 5px
                padding: 2px
                color: #7f7f7f
                font-size: 18px
                padding-top: 4px
                padding-bottom: 4px

            input
                border-radius: 5px

            input[type=radio]
                width: 20px !important
                height: 20px !important
                outline: none !important
                display: inline !important
                margin-right: 10px

            input[type=checkbox]
                width: 20px !important
                height: 20px !important
                outline: none !important
                display: inline !important
                margin-right: 10px

                span
                    margin-top: -1px
                    position: absolute
                    display: contents
                    top: 0

            label
                position: relative

                span
                    margin-top: -1px
                    position: absolute
                    display: contents
                    top: 0

            .btn
                &.btn-primary
                    padding-left: 15px
                    float: right
                    margin-top: 10px

                    &:after
                        margin-left: 15px
