section.subscriptions
    .col
        @media (min-width: 991px)
            max-width: 33.3333%

    .subscription-holder
        border: 1px solid #ccc
        padding: 30px 30px 50px
        height: 100%
        position: relative

        .subscription-meta-holder
            display: flex
            align-items: center
            margin-bottom: 30px

            .subscription-meta-icon
                width: 50px

                i
                    font-size: 30px

            .subscription-meta-detail
                font-weight: 700

        .btn
            position: absolute
            left: 30px
            bottom: 15px
            padding-left: 0

    h3
        font-size: 24px
