.subscription-overview
    .header
        .header-image
            text-align: center
            max-width: 70%
            margin: 0 auto
            padding-top: 150px
            height: auto
            min-height: auto

            img
                max-width: 900px

            @media (max-width: 767px)
                min-height: auto

                img
                    padding-top: 50px

            @media (max-width: 1199px)
                max-width: 95%

        .header-content
            color: #fff
            position: relative

            .article-content-bar
                color: #fff
                background-color: #000
                padding: 20px 35px
                margin-left: 0
                margin-bottom: 50px

                h1
                    color: #fff

                    @media (max-width: 767px)
                        font-size: 30px

    .subscriptions-holder
        margin-bottom: 50px

        .col-md-4
            margin-bottom: 50px

        .subscription
            height: 100%
            padding: 0 0 75px 15px
            position: relative

            a.cta-2
                display: block
                position: absolute
                bottom: 0

    .subscription-cta
        color: #fff
        background-color: #000
        padding: 15px

        h2
            color: #fff

        a
            color: $primary-color

