section.tests

    a.post-item
        //display: inline-block
        //width: 100%
        //height: 100%

        .image-media
            //height: 100%
            //position: relative

            .content-title
                //position: absolute
                //left: 0
                //right: 0
                //bottom: 0

                h5
                    font-size: 24px
                    height: 86px
                    display: flex
                    align-items: center
                    padding-top: 15px !important
                    padding-bottom: 15px !important
