html
    font-size: 62.5%
body
    font-family: "Nunito Sans", Arial, sans-serif
    font-size: 1.6rem
    font-weight: 400
    -webkit-font-smoothing: antialiased

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
    color: #333
    font-weight: 600
    font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif
    line-height: 1.2

h1,
.h1
    font-size: 35px

h2,
.h2
    font-size: 30px

h3,
.h3
    font-size: 25px

h4,
.h4
    font-size: 21px

h5,
.h5
    font-size: 18px

h6,
.h6
    font-size: 16px



p
    margin: 0
    padding-bottom: 1.4rem
