/** IMAGES **/

.wp-block-image img
    height: auto

.bg-image-holder.hoverable:hover
    cursor: pointer

    .bg-image-div
        transform: scale(1.1)

.bg-image-holder
    width: 100%
    overflow: hidden
    position: relative

.bg-image-div
    width: 100%
    background-size: cover
    background-position: center
    padding-top: 67%
    transform: scale(1)
    transition: transform 0.5s

.bg-image-holder .premium-label, .tile-image-holder .premium-label
    position: absolute
    top: 20px
    left: 0

@media (max-width: 761px)
    .bg-image-div
        padding-top: 56.25% !important

a:hover .bg-image-div
    transform: scale(1.1)

/** ARTICLES **/
.article-item
    padding-top: 1rem
    padding-bottom: 1rem
    display: block

.article-item .excerpt
    padding-right: 20px


.article-item .meta-holder div
    display: inline-block
    margin-right: 10px

.article-item .meta-holder div:after
    content: ""
    width: 2px
    height: 12px
    background-color: #000
    display: inline-block
    position: relative
    top: 1px
    right: -8px

.article-item .meta-holder div:last-child:after
    display: none


.cta-1
    border: 0
